<template>
   <section >
      <SpinnerComponent v-if="loading"></SpinnerComponent>
      <form v-else class="input-form bg-mywhite rounded-xl px-8 py-4" @submit.prevent="$emit('note:new', form)">
         <h4 class="mb-2"><IconComponent type="note" :size="16"></IconComponent> Nouvelle Note</h4>
         <input required type="hidden" name="project_step_id" v-model="form.project_step_id" />
         <input required class="myinput mb-2" type="text" name="title" v-model="form.title" id="" placeholder="Titre" />
         <textarea class="myinput" name="content" v-model="form.content" id="" cols="30" rows="5" placeholder="Contenu"></textarea>
         <div class="text-right">
            <button class="btn btn-primary">+ Ajouter</button>
         </div>
      </form>
   </section>
</template>

<script>
import IconComponent from "../../../layouts/IconComponent.vue";
export default {
   props: {
      project_step_id: { required: true },
   },
   data() {
      return {
         loading: false,
         form: {
            title: "",
            content: "",
            project_step_id: this.project_step_id,
         },
      };
   },
   components: { IconComponent },
};
</script>

<style></style>
