<template>
   <form
      class="input-form bg-mygrey rounded-xl px-8 py-4"
      @submit.prevent="
         $emit('note:update', form);
         edit = false;
      "
   >
      <section class="flex justify-between items-center rounded cursor-pointer mb-2" :class="active ? 'bg-myprimary text-white' : ''">
         <span v-if="!edit" class="flex-1 text-left font-semibold uppercase text-myprimary">{{ note.title }}</span>
         <div v-else class="flex flex-1">
            <input v-model="form.title" class="myinput flex-1 text-myblack" type="text" name="name" />
            <button class="rounded p-1 px-2"><IconComponent type="update" size="16" :color="iconColor"></IconComponent></button>
         </div>
         <article class="">
            <DropdownComponent
               v-if="!edit"
               :is_admin="is_admin"
               type="action"
               :border="false"
               :edit="true"
               @project:select="$emit('note:info', note)"
               @project:edit="edit = !edit"
               @destroy="$emit('note:delete')"
            ></DropdownComponent>
         </article>
      </section>
      <section>
         <span v-if="!edit">{{ note.content }}</span>
         <textarea v-model="form.content" v-else class="myinput" cols="30" rows="5"></textarea>
      </section>
   </form>
</template>

<script>
export default {
   props: {
      note: { required: true },
      active: { default: false },
      is_admin: { default: true },
   },
   data() {
      return {
         loading: false,
         edit: false,
         form: {
            title: this.note.title,

            content: this.note.content,
         },
      };
   },
   computed: {
      iconColor() {
         return this.active ? "white" : "black";
      },
   },
};
</script>

<style></style>
