<template>
   <section class="bg-mygrey2 rounded flex items-center px-4 py-4 my-4">
      <article class="w-36 flex justify-center items-center">
         <div v-if="is_admin" class="bg-myprimary rounded-full w-12 h-12" @mouseover="hover_file = true" @mouseleave="hover_file = false">
            <button class="cursor-pointer h-full w-full flex justify-center items-center" @click="show_new_note = !show_new_note">
               <IconComponent :type="hover_file ? 'note_add' : 'note'" color="white" :size="hover_file ? '26' : '24'"></IconComponent>
            </button>
         </div>
         <div v-else class="bg-myprimary rounded-full w-12 h-12">
            <div class="h-full w-full flex justify-center items-center">
               <IconComponent type="folder" color="white" size="24"></IconComponent>
            </div>
         </div>
      </article>

      <article class="flex-1 flex flex-col">
         <SpinnerComponent v-if="loading"></SpinnerComponent>
         <template v-else>
            <template v-if="show_new_note">
               <NewNoteComponent :show="show_new_note" @note:new="updateNotes('new', $event)" :project_step_id="project_step_id"></NewNoteComponent>
            </template>
            <template v-else>
               <!--  EMPTY STATE -->
               <span class="text-xs text-mydarkgrey" v-if="emptyState">Aucune note associée ...</span>
               <div class="flex flex-col gap-2" v-else>
                  <!-- FILES -->
                  <NotesComponent
                     v-for="note in data.notes"
                     :key="'note_' + note.id"
                     :note="note"
                     :is_admin="is_admin"
                     @note:update="updateNotes('update', $event, note.id)"
                     @note:delete="updateNotes('destroy', note.id)"
                     @note:info="$emit('note:info', note)"
                  ></NotesComponent>
               </div>
            </template>
         </template>
      </article>
   </section>
</template>

<script>
import SpinnerComponent from "../../../layouts/SpinnerComponent.vue";
export default {
   props: {
      is_admin: { default: true },
      project_step_id: {
         default: null,
      },
   },
   mounted() {
      this.updateNotes("all");
   },
   computed: {
      emptyState() {
         return this.data.notes?.length == 0;
      },
   },
   data() {
      return {
         show_new_note: false,
         data: {
            notes: [],
         },
         loading: true,
         /* error: false,
            success: false,
            status: 200, */
         hover_file: false,
      };
   },
   methods: {
      async updateNotes(type, note = null, id = null) {
         this.loading = true;
         let result = null;
         this.$emit("update:reset");
         try {
            if (type == "new") {
               result = await axios.post(`/api/notes`, note);
               this.updateNotes("all");
               this.show_new_note = false;
            } else if (type == "all") {
               result = await axios.get(`/api/notes?project_step_id=${this.project_step_id}`);
               this.data.notes = result.data;
            } else if (type == "destroy") {
               result = await axios.delete(`/api/notes/${note}`);
               this.updateNotes("all");
            } else if ((type = "update")) {
               result = await axios.patch(`/api/notes/${id}`, note);
               this.updateNotes("all");
            }
            if (type != "all") this.$emit("update:success", result.status);
         } catch (error) {
            console.error(error);
            result = error.response;
            this.$emit("update:error", result.status);
         } finally {
            this.loading = false;
         }
      },
   },
   components: { SpinnerComponent },
};
</script>

<style></style>
