<template>
   <section>
      <!-- HEADER -->
      <AlertComponent v-if="projects.error || projects.success" :type="projects.error ? 'danger' : 'success'" :status="projects.status"></AlertComponent>
      <article class="flex flex-col xl:flex-row xl:justify-between py-4 mt-3">
         <div class="flex items-center gap-2">
            <h1>DOSSIERS {{ type == "closed" ? "FACTURÉS" : "" }}</h1>
            <div v-if="type == 'unclosed'">
               <a href="/dossiers/nouveau" class="btn no-underline text-myblack"
                  ><span class="flex items-center gap-1 hover:font-bold"><IconComponent type="add" size="16"></IconComponent>Nouveau</span></a
               >
            </div>
         </div>

         <div class="flex xl:items-center flex-col xl:flex-row-reverse gap-2">
            <SearchbarComponent
               @submit:search="
                  projects.pattern = $event;
                  getAllProjects();
               "
            ></SearchbarComponent>
            <div class="flex justify-between items-center gap-2">
               <p v-if="projects.total" class="text-mydarkgrey text-xs">{{ projects.total }} Résultat(s)</p>
               <div class="flex items-center gap-2">
                  <DropdownComponent type="filter" :order="projects.order" @order:update="projects.order = $event"></DropdownComponent>
                  <button type="button" class="w-9 h-9 rounded-lg flex justify-center items-center border-2 hover:bg-mygrey2" @click="show_export = true">
                     <span class="px-2 py-1 flex items-center gap-2"> <IconComponent type="export" size="16"></IconComponent></span>
                  </button>
               </div>
            </div>
         </div>
      </article>

      <SpinnerComponent v-if="projects.loading"></SpinnerComponent>
      <!-- BODY -->
      <div v-show="!projects.loading">
         <!-- DESKTOP -->
         <article class="hidden xl:block">
            <!--  EMPTY STATE -->
            <div v-if="projects.data?.length == 0" class="flex flex-col justify-center items-center gap-2 py-4 h-700 bg-mygrey3 rounded-lg">
               <p class="text-mydarkgrey font-medium text-sm">Aucun dossier...</p>
            </div>

            <table v-else class="w-full border-collapse table-fixed text-center">
               <thead>
                  <tr>
                     <th class="py-3 font-light w-28">
                        <SortColumnComponent
                           :order_status="projects.order"
                           type="id"
                           @order_type:update="projects.order = { by: 'id', type: $event }"
                        ></SortColumnComponent>
                     </th>
                     <th class="py-3 font-light w-52">Débiteur</th>
                     <th class="py-3 font-light w-28">
                        <SortColumnComponent
                           :order_status="projects.order"
                           type="amount_ttc"
                           @order_type:update="projects.order = { by: 'amount_ttc', type: $event }"
                        ></SortColumnComponent>
                     </th>
                     <th class="py-3 font-light w-14">Fichiers</th>
                     <th class="py-3 font-light">Etape en cours</th>
                     <th class="py-3 font-light w-56">Etape suivante</th>
                     <th class="py-3 font-light w-14">%</th>
                     <th class="py-3 font-light w-36">Phase</th>
                     <th v-if="is_admin" class="py-3 font-light w-14">Action</th>
                  </tr>
               </thead>
               <tbody class="mystriped">
                  <ProjectRowComponent v-for="(project, index) in projects.data" :key="'projectRow_' + index" :project="project" :is_admin="is_admin">
                     <template v-slot:dropdown>
                        <DropdownComponent
                           type="action"
                           :is_admin="is_admin"
                           @project:select="
                              project_selected = project;
                              show_informations = true;
                           "
                           @destroy="alterProject('delete', project.id)"
                        ></DropdownComponent>
                     </template>
                  </ProjectRowComponent>
               </tbody>
            </table>
         </article>
         <!-- MOBILE -->
         <article class="flex flex-col items-center gap-2 xl:hidden">
            <!--  EMPTY STATE -->
            <div v-if="projects.data?.length == 0" class="flex flex-col justify-center items-center gap-2 py-4 h-96">
               <p class="text-mydarkgrey font-medium text-sm">Aucun dossier...</p>
            </div>
            <template v-else>
               <ProjectCardComponent
                  class="w-full"
                  v-for="(project, index) in projects.data"
                  :key="'projectCard_' + index"
                  :project="project"
               ></ProjectCardComponent>
            </template>
         </article>
      </div>
      <!-- FOOTER -->
      <article v-if="projects.data?.length > 0" class="flex justify-center lg:justify-end py-4">
         <PaginationComponent :last_page="projects.last_page" :page="projects.page" @page:update="getAllProjects($event)"></PaginationComponent>
      </article>

      <InfosModaleComponent :show="show_informations" :data="project_selected" @close="show_informations = false"></InfosModaleComponent>
      <ExportModaleComponent :show="show_export" @close="show_export = false"></ExportModaleComponent>
   </section>
</template>

<script>
import axios from "axios";
import IconComponent from "../../layouts/IconComponent.vue";
import ProjectCardComponent from "./ProjectCardComponent.vue";
import SpinnerComponent from "../../layouts/SpinnerComponent.vue";
import AlertComponent from "../../layouts/AlertComponent.vue";
import EmojiComponent from "../../layouts/EmojiComponent.vue";
import PaginationComponent from "../../layouts/PaginationComponent.vue";
import SortColumnComponent from "../../layouts/SortColumnComponent.vue";
import DropdownComponent from "../../layouts/DropdownComponent.vue";
import InfosModaleComponent from "../../layouts/InfosModaleComponent.vue";
export default {
   props: {
      type: { required: true },
      client_id: { required: true },
      user_role: { required: true },
   },
   components: {
      IconComponent,
      ProjectCardComponent,
      SpinnerComponent,
      AlertComponent,
      EmojiComponent,
      PaginationComponent,
      SortColumnComponent,
      DropdownComponent,
      InfosModaleComponent,
   },
   data() {
      return {
         show_export: false,
         show_informations: false,
         project_selected: null,
         projects: {
            pattern: "",
            is_order: false,
            order: {
               by: "id",
               type: "DESC",
            },
            page: 1,
            last_page: 1,
            total: null,
            loading: false,
            data: [],
            status: null,
            error: false,
            success: false,
         },
      };
   },
   watch: {
      "projects.order": {
         deep: true,
         handler() {
            this.getAllProjects();
         },
      },
   },
   mounted() {
      this.getAllProjects();
   },
   computed: {
      is_admin() {
         return this.user_role != "Utilisateur";
      },
   },
   methods: {
      async getAllProjects(page = 1, pattern = "") {
         this.projects.page = page;
         this.projects.loading = TextTrackCueList;
         let result = null;
         try {
            result = await axios.post(`/api/projects/all?page=${this.projects.page}&time&debtor&phase`, {
               pattern: this.projects.pattern,
               order: this.projects.order,
               is_closed: this.type,
               client_id: this.client_id,
            });
            this.projects.last_page = result.data.last_page;
            this.projects.total = result.data.total;
            this.projects.data = result.data.data;
         } catch (error) {
            result = error.response;
            console.error(error);
            this.projects.error = true;
         } finally {
            this.projects.status = result.status;
            this.projects.loading = false;
         }
      },
      async alterProject(type = "delete", project_id = null) {
         let result = null;
         try {
            result = await axios.delete(`/api/projects/${project_id}`);
            await this.getAllProjects();
            this.projects.success = true;
            this.projects.status = 200;
         } catch (error) {
            result = error.response;
            console.error(error);
            this.projects.error = true;
            this.projects.status = result.status;
         } finally {
            this.projects.status = result.status;
            this.projects.loading = false;
         }
      },
   },
};
</script>

<style scoped lang="scss">
@import "resources/sass/_variables.scss";
.input-form {
   background-color: $mygrey3;
   padding: 4px 8px;
   border-radius: 4px;
   &:focus-visible {
      outline-color: $myprimary;
   }
}
.mystriped {
   tr:nth-child(2n) {
      background-color: $mygrey3;
   }
}
</style>
