<template>
   <tr class="hover:shadow-border rounded cursor-pointer">
      <td class="py-3 cursor-pointer" @click="goToProject()">
         <span class="font-bold text-myprimary">N°{{ formatId }}</span>
      </td>
      <td class="py-3" @click="goToProject()">
         <p class="text-sm text-center">
            <b>{{ project.debtor.last_name.toUpperCase() }}</b>
         </p>
      </td>
      <td class="py-3" @click="goToProject()">
         <span class="font-bold">€{{ (project.amount_ttc / 100).toFixed(2) }}</span>
      </td>
      <td class="py-3" @click="goToProject()">
         <div class="flex items-center gap-1">
            <IconComponent type="file" color="black" size="16"></IconComponent><b>{{ project.billFilesNumber }} / {{ project.bill_number }}</b>
         </div>
      </td>
      <td class="py-3">
         <div class="mx-8 flex justify-center">
            <BadgeComponent
               :text="project.currentStepName"
               color="mygrey2"
               @mouseenter="show_popover = true"
               @mouseleave="show_popover = false"
            ></BadgeComponent>
            <div class="relative" v-if="project.project_steps.length > 0 && show_popover">
               <PopoverComponent :step="{ name: project.currentStepName, step: project.currentStep }"></PopoverComponent>
            </div>
         </div>
      </td>
      <td class="py-3" @click="goToProject()">
         <div class="flex items-center justify-center">
            <p v-if="daysUntilDeadline != null" class="px-2 py-1 rounded-xl text-xs" :class="daysUntilDeadline < 0 ? '' : ' text-myred'">
               J{{ daysUntilDeadline }}
            </p>
            <BadgeComponent
               :text="project.nextGroupStep ? project.nextGroupStep.name : 'Terminé'"
               :text_color="project.nextGroupStep ? '' : 'mygreen'"
               :color="!daysUntilDeadline || daysUntilDeadline < 0 ? 'mygrey2' : 'mylightred'"
            ></BadgeComponent>
         </div>
      </td>
      <!--  <td class="py-3"><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value: 50"></div></td> -->
      <td class="py-3">
         <div class="flex justify-center items-center">
            <circle-progress :percent="purcent" :size="30" :border-width="3" :border-bg-width="3" fill-color="#0acf83" empty-color="#E7ECEE" />
         </div>
      </td>
      <td class="py-3" @click="goToProject()">
         <div class="mx-2">
            <BadgeComponent
               :text="project.currentPhase"
               color="mylightblue"
               :full_width="true"
               :text_color="project.nextGroupStep ? '' : 'mygreen'"
            ></BadgeComponent>
         </div>
      </td>
      <td v-if="is_admin" class="py-3">
         <div class="flex justify-center items-center">
            <slot name="dropdown"></slot>
         </div>
      </td>
   </tr>
</template>

<script>
import BadgeComponent from "../../layouts/BadgeComponent.vue";
import IconComponent from "../../layouts/IconComponent.vue";
import DropdownComponent from "../../layouts/DropdownComponent.vue";
import "vue3-circle-progress/dist/circle-progress.css";
import CircleProgress from "vue3-circle-progress";
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      project: { required: true },
      is_admin: { default: true },
   },
   data() {
      return {
         moment: moment,
         show_popover: false,
      };
   },
   computed: {
      formatId() {
         let id = this.project.id.toString();
         return id.padStart(7 - id.length, "0");
      },
      daysUntilDeadline() {
         let diff = null;
         if (this.project.currentStep?.days_until_deadline)
            diff = moment().diff(moment(this.project.currentProjectSteps.created_at).add(this.project.currentStep.days_until_deadline, "day"), "days");
         return diff != null && diff >= 0 ? "+" + diff : diff;
      },
      purcent() {
         return Math.round((this.project.billSum / this.project.amount_ttc) * 100) > 100 ? 100 : Math.round((this.project.billSum / this.project.amount_ttc) * 100);
      },
   },
   components: { BadgeComponent, IconComponent, DropdownComponent, CircleProgress },
   methods: {
      goToProject() {
         window.location = `/dossiers/${this.project.id}`;
      },
   },
};
</script>
