<template>
   <section class="bg-mygrey3 rounded-xl px-4 py-3 cursor-pointer" @click="goToProject()">
      <article>
         <h2>N°{{ formatId }}</h2>
      </article>
      <article class="flex justify-between items-end text-mydarkgrey">
         <div>
            <div class="mb-1">
               <p>Débiteur</p>
               <p class="text-myblack">
                  <b>{{ project.debtor.last_name.toUpperCase() }}</b>
               </p>
            </div>

            <p class="flex items-center gap-2">
               <IconComponent type="file" color="black" size="16"></IconComponent> <b>{{ project.billFilesNumber }} / {{ project.bill_number }}</b> factures
            </p>
         </div>
         <div>
            <p>Créance</p>
            <h2 class="mb-2">€{{ (project.amount_ttc / 100).toFixed(2) }}</h2>
            <BadgeComponent :text="project.currentPhase" color="mylightblue" :full_width="true"></BadgeComponent>
         </div>
      </article>
      <article class="my-3">
         <div class="bg-mygrey2 rounded-xl px-3 py-2">
            <p class="truncate">{{ project.currentStepName }}</p>
         </div>
      </article>
   </section>
</template>

<script>
import IconComponent from "../../layouts/IconComponent.vue";
export default {
   props: {
      project: { required: true },
   },
   components: { IconComponent },
   computed: {
      formatId() {
         let id = this.project.id.toString();
         return id.padStart(7 - id.length, "0");
      },
   },
   methods: {
      goToProject() {
         window.location = `/dossiers/${this.project.id}`;
      },
   },
};
</script>

<style></style>
