<template>
   <form class="flex flex-col gap-6 input-form" @submit.prevent="submitProject">
      <!-- HEADER -->
      <article class="pt-4 mt-7">
         <h1>CREER UN DOSSIER</h1>
         <AlertComponent
            v-if="page.error || page.success"
            :text="page.status == 400 ? 'Attention tous les champs sont obligatoires...' : ''"
            :type="page.error ? 'danger' : 'success'"
            :status="page.status"
         ></AlertComponent>
      </article>
      <article v-if="page.loading" class="w-full h-700 flex justify-center items-center">
         <SpinnerComponent></SpinnerComponent>
      </article>
      <div class="w-full bg-mygrey3 rounded-full h-1">
         <div class="bg-myprimary h-1 rounded-full" :style="'width: ' + 50 * page.step + '%'"></div>
      </div>
      <!-- CONTENT -->
      <article v-show="!page.loading && page.step == 1" class="rounded-xl bg-mygrey3 px-6 py-4">
         <h6 class="flex gap-2 text-mydarkgrey text-sm"><IconComponent type="add-files" color="darkgrey" size="18"></IconComponent> Ajouter des fichiers</h6>
         <DragAndDropComponent @getFiles="form.files = $event" :error="form.error.files ? true : false" :file_types="null"></DragAndDropComponent>
      </article>

      <article v-show="!page.loading && page.step == 2" class="rounded-xl bg-mygrey3 px-6 py-4">
         <h6 class="flex gap-2 text-mydarkgrey text-sm"><IconComponent type="flag" color="darkgrey" size="18"></IconComponent> Details du dossier</h6>
         <div class="flex flex-col lg:flex-row gap-12">
            <div class="flex-1 flex flex-col gap-2 py-4">
               <!-- CLIENT -->
               <div>
                  <label class="mylabel block" for="client">Client <span class="text-myred">*</span></label>
                  <div class="flex gap-2">
                     <span class="bg-myprimary rounded px-6 py-1 text-mywhite flex justify-center items-center w-20">
                        <IconComponent type="user" color="white"></IconComponent>
                     </span>
                     <select
                        :disabled="!is_admin"
                        v-model="form.project.client_id"
                        class="myinput !bg-mywhite !py-1"
                        name="client"
                        :class="form.error.client_id ? '!border-myred' : ''"
                        id="client"
                     >
                        <option value="" disabled>Nom du Client</option>
                        <option v-for="client in data.clients" :key="'client_' + client.id" :value="client.id">{{ client.name }}</option>
                     </select>
                  </div>
               </div>
               <!-- CREANCE -->
               <div>
                  <label for="amount_ttc" class="mylabel block">Créance <span class="text-myred">*</span></label>
                  <div class="flex gap-2">
                     <span class="bg-myprimary rounded px-6 py-1 text-mywhite text-xl text-center w-20">€</span>
                     <input
                        v-model="form.project.amount_ttc"
                        type="number"
                        class="myinput !py-1 !bg-mywhite"
                        id="amount_ttc"
                        :class="form.error.amount_ttc ? '!border-myred' : ''"
                        step="0.01"
                        min="0"
                     />
                  </div>
               </div>
               <!-- NB FACTURE -->
               <div>
                  <label for="bill_number" class="mylabel block">Nombre de facture associées <span class="text-myred">*</span></label>
                  <div class="flex gap-2">
                     <span class="bg-myprimary rounded px-6 py-1 text-mywhite w-20 flex justify-center items-center"
                        ><IconComponent type="file" color="white"></IconComponent
                     ></span>
                     <input
                        v-model="form.project.bill_number"
                        type="number"
                        class="myinput !py-1 !bg-mywhite"
                        id="bill_number"
                        :class="form.error.bill_number ? '!border-myred' : ''"
                        step="1"
                        min="0"
                     />
                  </div>
               </div>

               <div class="italic text-sm text-mydarkgrey pt-2">(<span class="text-myred">*</span>) Champs obligatoires</div>
            </div>
            <div class="flex-1 flex flex-col gap-2 py-4">
               <!-- DEBITEUR -->
               <div>
                  <label for="rcs" class="mylabel block">RCS du Débiteur <span class="text-myred">*</span></label>
                  <div class="flex gap-2">
                     <input
                        v-model="rcsFormated"
                        type="text"
                        class="myinput !py-1 !bg-mywhite"
                        :class="form.error.rcs ? '!border-myred' : ''"
                        id="rcs"
                        @keyup.delete="form.debtor.rcs.trim()"
                        maxlength="11"
                     />
                  </div>
               </div>
               <div v-if="page.debtor_select && !page.debtor_loading" class="my-2">
                  <h5 class="font-bold uppercase text-sm text-myprimary">Débiteur existant</h5>
                  <div class="debtor_wrapper">
                     <div class="debtor_item flex justify-between items-center my-2" v-for="(debtor, index) in data.debtor" :key="index + '_debtor'">
                        <div>
                           <h6 class="font-bold">{{ debtor.name }}</h6>
                           <address>{{ debtor.address }}, {{ debtor.postcode }} {{ debtor.city }}</address>
                        </div>
                        <div>
                           <button v-if="!form.debtor.id" type="button" class="btn btn-primary" @Click="selectDebtor(debtor)">Sélectionner</button>
                           <template v-else>
                              <button @Click="form.debtor.id = ''" type="button" class="btn">
                                 <IconComponent type="close" color="darkgrey" size="16"></IconComponent>
                              </button>
                              <!--  <button disabled class="btn"><IconComponent type="check" color="mygreen"></IconComponent></button> -->
                           </template>
                        </div>
                     </div>
                  </div>
               </div>
               <div v-if="page.debtor_loading">
                  <SpinnerComponent :show_text="false"></SpinnerComponent>
               </div>
               <div v-if="!page.debtor_select">
                  <div>
                     <label for="name" class="mylabel block">Nom du Débiteur <span class="text-myred">*</span></label>
                     <div class="flex gap-2">
                        <input
                           v-model="form.debtor.last_name"
                           type="text"
                           class="myinput !py-1 !bg-mywhite"
                           :class="form.error.last_name ? '!border-myred' : ''"
                           id="name"
                        />
                     </div>
                  </div>
                  <div>
                     <label for="address" class="mylabel block">Adresse du Débiteur <span class="text-myred">*</span></label>
                     <div class="flex gap-2">
                        <input
                           v-model="form.debtor.address"
                           type="text"
                           class="myinput !py-1 !bg-mywhite"
                           :class="form.error.address ? '!border-myred' : ''"
                           id="address"
                        />
                     </div>
                  </div>
                  <div class="flex flex-col lg:flex-row gap-2">
                     <div class="flex-1">
                        <label for="postcode" class="mylabel block">Code postal du Débiteur <span class="text-myred">*</span></label>
                        <div class="flex gap-2">
                           <input
                              v-model="form.debtor.postcode"
                              type="text"
                              class="myinput !py-1 !bg-mywhite"
                              :class="form.error.postcode ? '!border-myred' : ''"
                              id="postcode"
                           />
                        </div>
                     </div>
                     <div class="flex-1">
                        <label for="city" class="mylabel block">Ville du Débiteur <span class="text-myred">*</span></label>
                        <div class="flex gap-2">
                           <input
                              v-model="form.debtor.city"
                              type="text"
                              class="myinput !py-1 !bg-mywhite"
                              :class="form.error.city ? '!border-myred' : ''"
                              id="city"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="flex flex-col lg:flex-row gap-2">
                     <div class="flex-1">
                        <label for="phone_number" class="mylabel block">N° de téléphone du Débiteur</label>
                        <div class="flex gap-2">
                           <input
                              v-model="phone_number"
                              type="text"
                              maxlength="15"
                              class="myinput !py-1 !bg-mywhite"
                              :class="form.error.phone_number ? '!border-myred' : ''"
                              id="phone_number"
                           />
                        </div>
                     </div>
                     <div class="flex-1">
                        <label for="email" class="mylabel block">Email du Débiteur</label>
                        <div class="flex gap-2">
                           <input
                              v-model="form.debtor.email"
                              type="text"
                              class="myinput !py-1 !bg-mywhite"
                              :class="form.error.email ? '!border-myred' : ''"
                              id="email"
                           />
                        </div>
                     </div>
                  </div>
                  <div>
                     <label for="rib" class="mylabel block">RIB du Débiteur</label>
                     <div class="flex gap-2">
                        <input v-model="form.debtor.rib" type="text" class="myinput !py-1 !bg-mywhite" id="rib" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </article>

      <article v-if="!page.loading" class="flex justify-end">
         <button type="button" @click="page.step++" v-if="page.step == 1" class="btn btn-primary flex items-center gap-2">
            Étape suivante
            <IconComponent type="right" color="white" size="18"></IconComponent>
         </button>
         <template v-else>
            <button @click="page.step--" type="button" class="btn flex items-center gap-2 mr-2">
               <IconComponent type="left" size="18"></IconComponent>Étape précédante
            </button>
            <button class="btn btn-primary flex items-center gap-2">
               Créer le dossier
               <IconComponent type="right" color="white" size="18"></IconComponent>
            </button>
         </template>
      </article>
   </form>
</template>

<script>
import IconComponent from "../../layouts/IconComponent.vue";
import DragAndDropComponent from "../../layouts/DragAndDropComponent.vue";
import SpinnerComponent from "../../layouts/SpinnerComponent.vue";
export default {
   components: { IconComponent, DragAndDropComponent, SpinnerComponent },
   props: {
      client_id: { default: "" },
      is_admin: { required: true },
   },
   data() {
      return {
         page: {
            client_loading: false,
            loading: false,
            status: null,
            error: false,
            success: false,
            debtor_loading: false,
            debtor_select: false,
            step: 1,
         },
         phone_number_format: null,
         rcs_format: null,
         data: {
            clients: [],
            debtor: {},
         },
         form: {
            files: [],
            project: {
               client_id: this.client_id,
               amount_ttc: "",
               bill_number: "",
               /* client_id: "",
               amount_ttc: "",
               bill_number: "", */
            },
            debtor: {
               id: "",
               last_name: "",
               address: "",
               postcode: "",
               city: "",
               phone_number: "",
               email: "",
               rcs: "",
               rib: "",
            },
            error: {
               files: false,
               client_id: false,
               amount_ttc: false,
               bill_number: false,
               last_name: false,
               address: false,
               postcode: false,
               city: false,
               phone_number: false,
               email: false,
               rib: false,
               rcs: false,
            },
         },
      };
   },
   mounted() {
      this.loadClient();
   },
   computed: {
      phone_number: {
         get() {
            return this.phone_number_format;
         },
         set(newvalue) {
            this.form.debtor.phone_number = newvalue.replace(/\s/g, "");
            this.phone_number_format = newvalue
               .replace(/[^\dA-Z]/g, "")
               .replace(/(.{2})/g, "$1 ")
               .trim();
         },
      },
      rcsFormated: {
         get() {
            return this.rcs_format;
         },
         set(newvalue) {
            this.form.debtor.rcs = newvalue.replace(/\s/g, "");
            this.rcs_format = newvalue
               .replace(/[^\dA-Z]/g, "")
               .replace(/(.{3})/g, "$1 ")
               .trim();
            if (this.rcs_format.length > 10) {
               this.searchExistingDebtor();
            }
         },
      },
   },
   methods: {
      async loadClient() {
         this.page.client_loading = true;
         this.page.success = false;
         this.page.error = false;
         try {
            const response = await axios.get(`/api/clients`);
            this.data.clients = response.data;
            this.page.client_loading = false;
         } catch (e) {
            this.page.client_loading = false;
            this.page.error = true;
         }
      },
      async submitProject(e) {
         this.page.success = false;
         this.page.error = false;
         this.page.loading = true;

         await this.testErrorInput();
         let formData = this.setupFormData();
         if (!this.page.error) {
            let result = null;
            try {
               result = await axios.post("/api/projects", formData);
               console.log("success");
               this.page.success = true;
               window.location.href = "/dossiers/" + result.data;
            } catch (error) {
               console.log("error");
               result = error.response;
               console.error(error);
               this.page.error = true;
            } finally {
               this.page.status = result.status;
               this.page.loading = false;
            }
         } else this.page.loading = false;
      },
      testErrorInput() {
         for (const [key, value] of Object.entries(this.form.error)) {
            this.form.error[key] = false;
         }
         if (this.form.files.length == 0) this.form.error.files = true;
         if (this.form.project.client_id == "") this.form.error.client_id = true;
         if (this.form.project.amount_ttc == "") this.form.error.amount_ttc = true;
         if (this.form.project.bill_number == "") this.form.error.bill_number = true;

         if (this.form.debtor.last_name == "") this.form.error.last_name = true;
         if (this.form.debtor.rcs == "") this.form.error.rcs = true;
         if (this.form.debtor.address == "") this.form.error.address = true;
         if (this.form.debtor.postcode == "") this.form.error.postcode = true;
         if (this.form.debtor.city == "") this.form.error.city = true;
         /* for (const [key, value] of Object.entries(this.form.debtor)) {
            if (value == "") this.form.error[key] = true;
         } */
         if (
            Object.entries(this.form.error).find(([key, value]) => {
               return value == true;
            })
         ) {
            this.page.error = true;
            this.page.status = 400;
         }
      },
      setupFormData() {
         let formData = new FormData();

         for (const i of Object.keys(this.form.files)) {
            formData.append("files-" + i, this.form.files[i].file);
         }
         for (const i of Object.keys(this.form.files)) {
            for (const y of Object.keys(this.form.files[i].complement)) {
               formData.append("file-complement-" + y + "-" + i, this.form.files[i].complement[y]);
            }
         }
         for (const [key, value] of Object.entries(this.form.project)) {
            formData.append(key, value);
         }
         for (const [key, value] of Object.entries(this.form.debtor)) {
            formData.append(key, value);
         }

         return formData;
      },
      async searchExistingDebtor() {
         this.page.debtor_loading = true;
         try {
            let result = await axios.get(`/api/debtors?rcs=${this.form.debtor.rcs}`);
            this.data.debtor = result.data;
            this.resetDebtorFields();
            if (result.data.length > 0) this.page.debtor_select = true;
            else this.page.debtor_select = false;
         } catch (e) {
            console.error(e);
            this.page.error = true;
         } finally {
            this.page.debtor_loading = false;
         }
      },
      selectDebtor(debtor) {
         this.page.debtor_select = false;
         Object.keys(this.form.debtor).forEach((attribute) => {
            this.form.debtor[attribute] = debtor[attribute];
         });
      },
      resetDebtorFields() {
         Object.keys(this.form.debtor).forEach((attribute) => {
            if (attribute != "rcs") this.form.debtor[attribute] = "";
         });
      },
   },
};
</script>
