$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$myblack: #1a3463;
$myprimary: #286bee;
$mygrey: #fefefe;
$mywhite: #ffffff;
$mygrey2: #e7ecee;
$mygrey3: #f6f6f6;
$mydarkgrey: #7a868c;

$myred: #eb4f4f;
$mygreen: #0acf83;
$mylightred: #fff4f4;
$mylightgreen: #ebfdeb;
$myblue : #3069AC;
$mylightblue : #EAEFF9;
