// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
@import "variables";

// Bootstrap
/* @import "~bootstrap/scss/bootstrap"; */

// RESET
@import "./reset.scss";
// AUTH FILES
@import "./auth/login.scss";
// PDF PRINT FILES
/* @import "./pdf/pdf.scss"; */

body{
   color: $myblack;
}
.input-form {
   text-align: left;
   .mylabel {
      font-size: 13px;
      color: $mydarkgrey;
   }
   .myinput {
      background-color: $mygrey3;
      border: 1px solid $mygrey2;
      width: 100%;
      padding: 4px 8px;
      border-radius: 4px;
      &:focus-visible {
         outline-color: $myprimary;
      }
   }
}
.myinput {
   background-color: $mygrey3;
   border: 1px solid $mygrey2;
   padding: 4px 8px;
   border-radius: 4px;
   &:focus-visible {
      outline-color: $myprimary;
   }
}
.invalid-feedback {
   font-size: 12px;
   color: $myred;
   font-family: RobotoThin;
}
button {
   overflow: hidden;
}
.btn {
   border-radius: 8px;
   padding: 6px 16px;
}
.btn-primary {
   background: $myprimary;
   color: $mywhite;
}
.btn-third {
  /*  border: 1px solid $myblack; */
   background-color: $myblack;
   color: $mywhite;
   &:hover{
    font-weight: 600;
   }
}
.btn-fourth {
   border: 1px solid $myblack;
   color: $myblack;
   &:hover{
    font-weight: 600;
   }
}
.mystriped {
   tr:nth-child(2n) {
      background-color: $mygrey3;
   }
}

.selected-row{
   z-index: 5;
   box-shadow: 0px 0px 0px 2px $myprimary inset;
}
@media only screen and (min-width: 1024px) {
   #back-block {
      display: none !important;
   }
   #side-block {
      display: block !important;
   }
}

@media only screen and (max-width: 1024px) {
   #side-block,
   #back-block {
      display: none;
   }
}
