@font-face {
   font-family: Roboto-Bold;
   src: url("../fonts/Roboto-Bold.ttf"); // remember that font file path must be relative to the current css file. not the final compiled folder
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: Roboto;
   src: url("../fonts/Roboto-Regular.ttf"); // remember that font file path must be relative to the current css file. not the final compiled folder
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: RobotoThin;
   src: url("../fonts/Roboto-Thin.ttf"); // remember that font file path must be relative to the current css file. not the final compiled folder
   font-weight: thin;
   font-style: normal;
}

a {
   color: $mydarkgrey;
   text-decoration: underline;
}

h1 {
   font-family: Roboto-Bold;
   font-size: 36px;
   line-height: 42px;
   color: $myblack;
}
h2 {
   font-family: Roboto-Bold;
   font-size: 24px;
   line-height: 42px;
   color: $myblack;
}

h3 {
   font-family: Roboto;
   color: $mydarkgrey;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
}
p,
ul,
h5 {
   padding: 0;
   margin: 0;
}
body {
   font-family: Roboto;
}

main {
   padding: 40px 48px;
}
::-webkit-scrollbar {
   width: 12px;
}
.steps::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background-color: $mygrey3;
   border-radius: 50px;
}

::-webkit-scrollbar-thumb {
   background-color: $mygrey2;
   border-radius: 50px;
}
