@import url(https://fonts.googleapis.com/css?family=Nunito);
/*
! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}
*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container{
  width: 100%;
}
@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.inset-y-0{
  top: 0px;
  bottom: 0px;
}
.top-0{
  top: 0px;
}
.right-0{
  right: 0px;
}
.left-0{
  left: 0px;
}
.top-12{
  top: 3rem;
}
.top-1{
  top: 0.25rem;
}
.left-7{
  left: 1.75rem;
}
.top-14{
  top: 3.5rem;
}
.-top-4{
  top: -1rem;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.z-40{
  z-index: 40;
}
.z-30{
  z-index: 30;
}
.m-0{
  margin: 0px;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-8{
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.ml-1{
  margin-left: 0.25rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mr-2{
  margin-right: 0.5rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.mt-4{
  margin-top: 1rem;
}
.ml-4{
  margin-left: 1rem;
}
.mt-8{
  margin-top: 2rem;
}
.ml-12{
  margin-left: 3rem;
}
.-mt-px{
  margin-top: -1px;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-0{
  margin-bottom: 0px;
}
.mr-3{
  margin-right: 0.75rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-4{
  margin-bottom: 1rem;
}
.mb-1{
  margin-bottom: 0.25rem;
}
.mt-3{
  margin-top: 0.75rem;
}
.mt-16{
  margin-top: 4rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mt-7{
  margin-top: 1.75rem;
}
.mr-4{
  margin-right: 1rem;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.mr-1{
  margin-right: 0.25rem;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.table{
  display: table;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.h-5{
  height: 1.25rem;
}
.h-8{
  height: 2rem;
}
.h-16{
  height: 4rem;
}
.h-screen{
  height: 100vh;
}
.h-5\/6{
  height: 83.333333%;
}
.h-4{
  height: 1rem;
}
.h-48{
  height: 12rem;
}
.h-550{
  height: 36rem;
}
.h-full{
  height: 100%;
}
.h-400{
  height: 27rem;
}
.h-7{
  height: 1.75rem;
}
.h-10{
  height: 2.5rem;
}
.h-3\.5{
  height: 0.875rem;
}
.h-3{
  height: 0.75rem;
}
.h-800{
  height: 48rem;
}
.h-60{
  height: 15rem;
}
.h-9{
  height: 2.25rem;
}
.h-700{
  height: 42rem;
}
.h-12{
  height: 3rem;
}
.h-96{
  height: 24rem;
}
.h-1{
  height: 0.25rem;
}
.h-56{
  height: 14rem;
}
.min-h-screen{
  min-height: 100vh;
}
.w-5{
  width: 1.25rem;
}
.w-8{
  width: 2rem;
}
.w-auto{
  width: auto;
}
.w-full{
  width: 100%;
}
.w-10{
  width: 2.5rem;
}
.w-300{
  width: 20rem;
}
.w-56{
  width: 14rem;
}
.w-48{
  width: 12rem;
}
.w-600{
  width: 38rem;
}
.w-4{
  width: 1rem;
}
.w-16{
  width: 4rem;
}
.w-24{
  width: 6rem;
}
.w-7{
  width: 1.75rem;
}
.w-40{
  width: 10rem;
}
.w-28{
  width: 7rem;
}
.\!w-48{
  width: 12rem !important;
}
.w-20{
  width: 5rem;
}
.w-3\.5{
  width: 0.875rem;
}
.w-3{
  width: 0.75rem;
}
.w-44{
  width: 11rem;
}
.w-9{
  width: 2.25rem;
}
.w-32{
  width: 8rem;
}
.w-36{
  width: 9rem;
}
.w-14{
  width: 3.5rem;
}
.w-1800{
  width: 100rem;
}
.w-500{
  width: 32rem;
}
.w-52{
  width: 13rem;
}
.\!w-36{
  width: 9rem !important;
}
.w-2{
  width: 0.5rem;
}
.w-0\.5{
  width: 0.125rem;
}
.w-0{
  width: 0px;
}
.w-1500{
  width: 70rem;
}
.\!w-28{
  width: 7rem !important;
}
.w-12{
  width: 3rem;
}
.max-w-6xl{
  max-width: 72rem;
}
.max-w-xl{
  max-width: 36rem;
}
.flex-1{
  flex: 1 1 0%;
}
.flex-auto{
  flex: 1 1 auto;
}
.table-fixed{
  table-layout: fixed;
}
.border-collapse{
  border-collapse: collapse;
}
.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-125{
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@-webkit-keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
.animate-spin{
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.cursor-pointer{
  cursor: pointer;
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-row-reverse{
  flex-direction: row-reverse;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-start{
  align-items: flex-start;
}
.items-end{
  align-items: flex-end;
}
.items-center{
  align-items: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-3{
  gap: 0.75rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-1{
  gap: 0.25rem;
}
.gap-4{
  gap: 1rem;
}
.gap-8{
  gap: 2rem;
}
.gap-6{
  gap: 1.5rem;
}
.gap-12{
  gap: 3rem;
}
.gap-10{
  gap: 2.5rem;
}
.divide-y > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-gray-100 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-divide-opacity));
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-y-auto{
  overflow-y: auto;
}
.overflow-y-scroll{
  overflow-y: scroll;
}
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-nowrap{
  white-space: nowrap;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded-lg{
  border-radius: 0.5rem;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.rounded-md{
  border-radius: 0.375rem;
}
.\!rounded-xl{
  border-radius: 0.75rem !important;
}
.\!rounded-b-none{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.rounded-b-xl{
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.rounded-b-lg{
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.border{
  border-width: 1px;
}
.border-0{
  border-width: 0px;
}
.border-2{
  border-width: 2px;
}
.border-t{
  border-top-width: 1px;
}
.border-r{
  border-right-width: 1px;
}
.border-solid{
  border-style: solid;
}
.border-dashed{
  border-style: dashed;
}
.\!border-none{
  border-style: none !important;
}
.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400{
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.border-mygrey2{
  --tw-border-opacity: 1;
  border-color: rgb(231 236 238 / var(--tw-border-opacity));
}
.\!border-myred{
  --tw-border-opacity: 1 !important;
  border-color: rgb(235 79 79 / var(--tw-border-opacity)) !important;
}
.border-myprimary{
  --tw-border-opacity: 1;
  border-color: rgb(40 107 238 / var(--tw-border-opacity));
}
.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-mydarkgrey{
  --tw-border-opacity: 1;
  border-color: rgb(122 134 140 / var(--tw-border-opacity));
}
.border-t-transparent{
  border-top-color: transparent;
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-myprimary{
  --tw-bg-opacity: 1;
  background-color: rgb(40 107 238 / var(--tw-bg-opacity));
}
.bg-mylightgreen{
  --tw-bg-opacity: 1;
  background-color: rgb(235 253 235 / var(--tw-bg-opacity));
}
.bg-mylightred{
  --tw-bg-opacity: 1;
  background-color: rgb(255 244 244 / var(--tw-bg-opacity));
}
.bg-mylightblue{
  --tw-bg-opacity: 1;
  background-color: rgb(234 239 249 / var(--tw-bg-opacity));
}
.bg-mygrey3{
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.bg-mygrey2{
  --tw-bg-opacity: 1;
  background-color: rgb(231 236 238 / var(--tw-bg-opacity));
}
.bg-mywhite{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.\!bg-mywhite{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.bg-mygrey{
  --tw-bg-opacity: 1;
  background-color: rgb(254 254 254 / var(--tw-bg-opacity));
}
.bg-myred{
  --tw-bg-opacity: 1;
  background-color: rgb(235 79 79 / var(--tw-bg-opacity));
}
.\!bg-mydarkgrey{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(122 134 140 / var(--tw-bg-opacity)) !important;
}
.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-mygreen{
  --tw-bg-opacity: 1;
  background-color: rgb(10 207 131 / var(--tw-bg-opacity));
}
.\!bg-none{
  background-image: none !important;
}
.fill-current{
  fill: currentColor;
}
.p-6{
  padding: 1.5rem;
}
.\!p-0{
  padding: 0px !important;
}
.p-10{
  padding: 2.5rem;
}
.p-1{
  padding: 0.25rem;
}
.p-0{
  padding: 0px;
}
.p-2{
  padding: 0.5rem;
}
.p-4{
  padding: 1rem;
}
.p-8{
  padding: 2rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.\!py-1\.5{
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}
.\!py-1{
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}
.\!px-2{
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.\!py-2{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.pt-8{
  padding-top: 2rem;
}
.pl-1{
  padding-left: 0.25rem;
}
.pl-10{
  padding-left: 2.5rem;
}
.pb-4{
  padding-bottom: 1rem;
}
.pl-2{
  padding-left: 0.5rem;
}
.pt-4{
  padding-top: 1rem;
}
.pt-2{
  padding-top: 0.5rem;
}
.pr-2{
  padding-right: 0.5rem;
}
.pt-3{
  padding-top: 0.75rem;
}
.pl-4{
  padding-left: 1rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.align-baseline{
  vertical-align: baseline;
}
.align-top{
  vertical-align: top;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.font-semibold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}
.font-light{
  font-weight: 300;
}
.font-medium{
  font-weight: 500;
}
.\!font-bold{
  font-weight: 700 !important;
}
.font-normal{
  font-weight: 400;
}
.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.not-italic{
  font-style: normal;
}
.leading-7{
  line-height: 1.75rem;
}
.leading-none{
  line-height: 1;
}
.tracking-wider{
  letter-spacing: 0.05em;
}
.text-gray-200{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-mywhite{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-myblack{
  --tw-text-opacity: 1;
  color: rgb(26 52 99 / var(--tw-text-opacity));
}
.text-mygreen{
  --tw-text-opacity: 1;
  color: rgb(10 207 131 / var(--tw-text-opacity));
}
.text-myred{
  --tw-text-opacity: 1;
  color: rgb(235 79 79 / var(--tw-text-opacity));
}
.text-myblue{
  --tw-text-opacity: 1;
  color: rgb(48 105 172 / var(--tw-text-opacity));
}
.text-myprimary{
  --tw-text-opacity: 1;
  color: rgb(40 107 238 / var(--tw-text-opacity));
}
.text-mydarkgrey{
  --tw-text-opacity: 1;
  color: rgb(122 134 140 / var(--tw-text-opacity));
}
.text-blue-600{
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.text-mylightgreen{
  --tw-text-opacity: 1;
  color: rgb(235 253 235 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.no-underline{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-40{
  opacity: 0.4;
}
.opacity-75{
  opacity: 0.75;
}
.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.ring-2{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.ring-mygrey2{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(231 236 238 / var(--tw-ring-opacity));
}
.drop-shadow-xl{
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.grayscale{
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
/* @import "~bootstrap/scss/bootstrap"; */
@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf?75371f53f06181df75f16f2a140533e5);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf?a8d6ac03c7b96b7acb6228ff2676139d);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoThin;
  src: url(/fonts/Roboto-Thin.ttf?1711b41f3ae4cb322eeacae23f124122);
  font-weight: thin;
  font-style: normal;
}
a {
  color: #7a868c;
  text-decoration: underline;
}

h1 {
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 42px;
  color: #1a3463;
}

h2 {
  font-family: Roboto-Bold;
  font-size: 24px;
  line-height: 42px;
  color: #1a3463;
}

h3 {
  font-family: Roboto;
  color: #7a868c;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

p,
ul,
h5 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
}

main {
  padding: 40px 48px;
}

::-webkit-scrollbar {
  width: 12px;
}

.steps::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #e7ecee;
  border-radius: 50px;
}

.auth {
  padding: 0;
}

.container-auth {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container-auth div.side-block {
  flex: 1;
  background-color: #286bee;
  height: 100%;
  width: 100%;
}
.container-auth div.main-block {
  flex: 2;
  height: auto;
}
.container-auth .log-container {
  margin: 0 auto;
  text-align: center;
  min-width: 280px;
  max-width: 340px;
}
.container-auth .log-container img {
  margin: 0 auto;
}
.container-auth .log-container .forgot-password {
  font-size: 13px;
}

.logo_container {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container-auth {
    height: 90vh;
    flex-direction: column;
  }
  .container-auth div.side-block {
    display: none;
  }
  .container-auth div.main-block {
    flex: none;
    /*  height: auto; */
  }

  .logo_container {
    display: block;
  }
  .logo_container img {
    margin: 0 auto;
  }
}
/* @import "./pdf/pdf.scss"; */
body {
  color: #1a3463;
}

.input-form {
  text-align: left;
}
.input-form .mylabel {
  font-size: 13px;
  color: #7a868c;
}
.input-form .myinput {
  background-color: #f6f6f6;
  border: 1px solid #e7ecee;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
}
.input-form .myinput:focus-visible {
  outline-color: #286bee;
}

.myinput {
  background-color: #f6f6f6;
  border: 1px solid #e7ecee;
  padding: 4px 8px;
  border-radius: 4px;
}
.myinput:focus-visible {
  outline-color: #286bee;
}

.invalid-feedback {
  font-size: 12px;
  color: #eb4f4f;
  font-family: RobotoThin;
}

button {
  overflow: hidden;
}

.btn {
  border-radius: 8px;
  padding: 6px 16px;
}

.btn-primary {
  background: #286bee;
  color: #ffffff;
}

.btn-third {
  /*  border: 1px solid $myblack; */
  background-color: #1a3463;
  color: #ffffff;
}
.btn-third:hover {
  font-weight: 600;
}

.btn-fourth {
  border: 1px solid #1a3463;
  color: #1a3463;
}
.btn-fourth:hover {
  font-weight: 600;
}

.mystriped tr:nth-child(2n) {
  background-color: #f6f6f6;
}

.selected-row {
  z-index: 5;
  box-shadow: 0px 0px 0px 2px #286bee inset;
}

@media only screen and (min-width: 1024px) {
  #back-block {
    display: none !important;
  }

  #side-block {
    display: block !important;
  }
}
@media only screen and (max-width: 1024px) {
  #side-block,
#back-block {
    display: none;
  }
}
.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}
.after\:top-\[2px\]::after{
  content: var(--tw-content);
  top: 2px;
}
.after\:left-\[2px\]::after{
  content: var(--tw-content);
  left: 2px;
}
.after\:h-4::after{
  content: var(--tw-content);
  height: 1rem;
}
.after\:w-4::after{
  content: var(--tw-content);
  width: 1rem;
}
.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}
.after\:border::after{
  content: var(--tw-content);
  border-width: 1px;
}
.after\:border-mygrey2::after{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(231 236 238 / var(--tw-border-opacity));
}
.after\:bg-mywhite::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.after\:transition-all::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}
.focus-within\:text-gray-400:focus-within{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.hover\:bg-mygrey2:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(231 236 238 / var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.hover\:bg-mygrey3:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.hover\:font-semibold:hover{
  font-weight: 600;
}
.hover\:font-normal:hover{
  font-weight: 400;
}
.hover\:font-bold:hover{
  font-weight: 700;
}
.hover\:text-myblack:hover{
  --tw-text-opacity: 1;
  color: rgb(26 52 99 / var(--tw-text-opacity));
}
.hover\:text-mywhite:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:underline:hover{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.hover\:shadow-border:hover{
  --tw-shadow: inset 0 0 2px #7A868C;
  --tw-shadow-colored: inset 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:text-gray-900:focus{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-myprimary:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(40 107 238 / var(--tw-ring-opacity));
}
.peer:checked ~ .peer-checked\:bg-myprimary{
  --tw-bg-opacity: 1;
  background-color: rgb(40 107 238 / var(--tw-bg-opacity));
}
.peer:checked ~ .peer-checked\:after\:translate-x-full::after{
  content: var(--tw-content);
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:checked ~ .peer-checked\:after\:border-white::after{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.peer:focus ~ .peer-focus\:outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.peer:focus ~ .peer-focus\:ring-4{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.peer:focus ~ .peer-focus\:ring-blue-300{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}
@media (min-width: 640px){
  .sm\:ml-0{
    margin-left: 0px;
  }
  .sm\:mt-4{
    margin-top: 1rem;
  }
  .sm\:block{
    display: block;
  }
  .sm\:h-20{
    height: 5rem;
  }
  .sm\:items-center{
    align-items: center;
  }
  .sm\:justify-start{
    justify-content: flex-start;
  }
  .sm\:justify-between{
    justify-content: space-between;
  }
  .sm\:rounded-lg{
    border-radius: 0.5rem;
  }
  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:pt-0{
    padding-top: 0px;
  }
  .sm\:text-left{
    text-align: left;
  }
  .sm\:text-right{
    text-align: right;
  }
}
@media (min-width: 768px){
  .md\:w-48{
    width: 12rem;
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:flex-row{
    flex-direction: row;
  }
  .md\:items-start{
    align-items: flex-start;
  }
  .md\:items-end{
    align-items: flex-end;
  }
  .md\:border-t-0{
    border-top-width: 0px;
  }
  .md\:border-l{
    border-left-width: 1px;
  }
}
@media (min-width: 1024px){
  .lg\:fixed{
    position: fixed;
  }
  .lg\:ml-80{
    margin-left: 20rem;
  }
  .lg\:mt-10{
    margin-top: 2.5rem;
  }
  .lg\:block{
    display: block;
  }
  .lg\:flex{
    display: flex;
  }
  .lg\:hidden{
    display: none;
  }
  .lg\:h-9{
    height: 2.25rem;
  }
  .lg\:w-48{
    width: 12rem;
  }
  .lg\:w-9{
    width: 2.25rem;
  }
  .lg\:w-60{
    width: 15rem;
  }
  .lg\:flex-1{
    flex: 1 1 0%;
  }
  .lg\:flex-row{
    flex-direction: row;
  }
  .lg\:flex-row-reverse{
    flex-direction: row-reverse;
  }
  .lg\:items-start{
    align-items: flex-start;
  }
  .lg\:justify-end{
    justify-content: flex-end;
  }
  .lg\:justify-between{
    justify-content: space-between;
  }
  .lg\:gap-2{
    gap: 0.5rem;
  }
  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .lg\:text-right{
    text-align: right;
  }
  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1280px){
  .xl\:block{
    display: block;
  }
  .xl\:hidden{
    display: none;
  }
  .xl\:h-800{
    height: 48rem;
  }
  .xl\:h-400{
    height: 27rem;
  }
  .xl\:w-500{
    width: 32rem;
  }
  .xl\:w-96{
    width: 24rem;
  }
  .xl\:w-800{
    width: 48rem;
  }
  .xl\:flex-row{
    flex-direction: row;
  }
  .xl\:flex-row-reverse{
    flex-direction: row-reverse;
  }
  .xl\:items-center{
    align-items: center;
  }
  .xl\:justify-between{
    justify-content: space-between;
  }
  .xl\:overflow-y-scroll{
    overflow-y: scroll;
  }
}
@media (min-width: 1536px){
  .\32xl\:h-800{
    height: 48rem;
  }
  .\32xl\:w-600{
    width: 38rem;
  }
  .\32xl\:w-300{
    width: 20rem;
  }
  .\32xl\:flex-row{
    flex-direction: row;
  }
}
