
:root{
    --myblack: #1a3463;
    --myprimary: #286bee;
    --mygrey: #7a868c;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.printable{
  /*   height: 29.7cm;
    width: 21cm; */
  /*   border: 1px solid black; */
    font-size: 16px;
    color: var(--myblack);
}

.printable__main{
    width: 100%;
    margin: 0;
   /*  padding: 10mm 15mm; */
}

.printable__main--header > .header{
    margin: 5mm auto;
}
.printable__main--header > .header >.header__address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printable__main--header > .header >.header__address > .bank > header{
        color: var(--myprimary);
}
.printable__main--header > .header >.header__address > .client_address{
    padding: 2mm 10mm;
    width: 90mm;
    height: 30mm;
    border: 1px solid var(--mygrey);
    border-radius: 5mm;
}
.printable__main--header > .header >.header__address > .client_address > header{
    color: var(--myprimary);
 }
.printable__main--header > .footer{
    text-align: right;
}
.printable__main--body{
     text-align: justify;
}
.printable__main--body > p{
    margin: 5mm auto;
 }
 .printable__main--body > p:nth-child(-n+2){
    font-weight: bold;
 }
 .printable__main--body > section{
   
    width: 100%;
    display: flex;
    justify-content: end;
    
 }
 .printable__main--body > section > section{
    width: 50mm;
}
.printable__main--body > section > section > p{
    text-align: center;
}
.printable__main--footer{
    border-top: 1px solid var(--mygrey);
    margin: 5mm 0;
    padding: 2mm 0;
    text-align: center;
   
}
.printable__main--footer > p{
    font-size: 11px;
}

h5{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3mm;
}

