<template>
   <section class="bg-mygrey3 rounded-xl text-sm lg:text-base">
      <div class="px-4 py-3">
         <article class="flex items-center justify-between"></article>
         <article class="flex flex-col md:flex-row justify-between gap-4">
            <div class="flex flex-col items-center md:items-start">
               <div class="flex flex-1 items-center gap-2 mb-2">
                  <h1 class="text-2xl lg:text-4xl">N°{{ formatId }}</h1>
               </div>
               <div class="text-mydarkgrey">
                  <div class="mb-1">
                     <p class="text-xs">Débiteur</p>
                     <p v-if="!edit" class="text-myblack">
                        <b>{{ debtor_name }}</b>
                     </p>
                     <select :disabled="loading" v-else class="text-myblack !font-bold" v-model="form.debtor_id" @change="handleChange">
                        <option v-for="(debtor, index) in debtors.data" :key="index + '_debtor'" :value="debtor.id" :data-name="debtor.last_name.toUpperCase()">
                           {{ debtor.last_name.toUpperCase() }}
                        </option>
                     </select>
                  </div>

                  <p class="flex items-center gap-2 mb-2">
                     <IconComponent type="file" color="black" size="16"></IconComponent>
                     <b class="text-myblack">{{ project.billFilesNumber }} / {{ project.bill_number }}</b>
                     factures
                  </p>
                  <!-- Date du dernier encaissement -->
                  <p class="text-sm">
                     Restant dû au {{ moment(project.lastBillingDate).format("DD/MM/YYYY") }}, <b class="text-myblack">€{{ leftover_bills }}</b>
                  </p>
               </div>
            </div>
            <div class="flex flex-col items-center md:items-end justify-between">
               <div class="py-2">
                  <div v-if="is_admin" class="flex items-center gap-2">
                     <div class="flex">
                        <DropdownComponent
                           v-if="!edit && !loading"
                           type="action"
                           :is_admin="is_admin"
                           :border="false"
                           :edit="true"
                           @project:edit="loadDebtor()"
                           @destroy="updateProject('delete')"
                           @project:select="$emit('project:select')"
                        ></DropdownComponent>
                        <button v-if="edit && !loading" type="button" @click="updateProject('update')">
                           <IconComponent type="update" size="20"></IconComponent>
                        </button>
                        <SpinnerComponent v-if="loading" :show_text="false" :size="7"></SpinnerComponent>
                     </div>
                  </div>
               </div>
               <div class="flex flex-col items-center md:items-end">
                  <div>
                     <p class="text-xs text-mydarkgrey">Créance (TTC)</p>
                     <h1 v-if="!edit" class="text-3xl lg:text-5xl">€{{ amount_ttc_format.toFixed(2) }}</h1>

                     <div v-else class="flex gap-1 py-2">
                        <span class="bg-myprimary rounded px-6 text-mywhite text-lg text-center w-10 flex items-center justify-center">€</span>
                        <input :disabled="loading" class="text-3xl w-40 text-right" type="number" min="0" step="0.01" v-model="amount_ttcFormated" />
                     </div>
                  </div>
                  <div class="flex gap-3 text-right">
                     <div>
                        <p class="text-xs text-mydarkgrey">Article 700</p>
                        <h2 class="text-xl lg:text-xl text-myprimary">€{{ (project.totalComplementaryFeesTTC / 100).toFixed(2) }}</h2>
                     </div>
                     <div>
                        <p class="text-xs text-mydarkgrey">F. de dossier</p>
                        <h2 class="text-xl lg:text-xl text-myprimary">€{{ (project.totalProjectFeesTTC / 100).toFixed(2) }}</h2>
                     </div>
                     <div>
                        <p class="text-xs text-mydarkgrey">F. engagés</p>
                        <h2 class="text-xl lg:text-xl text-myprimary">€{{ (project.totalEngagedFeesTTC / 100).toFixed(2) }}</h2>
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </div>
      <div class="w-full bg-gray-200">
         <div class="bg-mygreen text-xs font-medium text-mylightgreen text-center p-0 leading-none" :style="'width:' + purcent">{{ purcent }}</div>
      </div>

      <article class="bg-mygrey2 rounded-b-xl">
         <div class="px-4 py-3 flex flex-col gap-2 lg:flex-row justify-between items-center">
            <div class="flex items-end gap-1">
               <div>
                  <p class="text-xs text-mydarkgrey">Phase</p>
                  <BadgeComponent
                     :text="project.currentPhase"
                     color="mylightblue"
                     :full_width="true"
                     :text_color="project.nextGroupStep ? '' : 'mygreen'"
                  ></BadgeComponent>
               </div>
               <template v-if="project.amount_ttc <= 60000 && project.nextGroupStep?.name != 'Requête IP'">
                  <div v-if="project.nextGroupStep">
                     <b v-if="daysUntilDeadline != null" class="px-2 py-1 rounded-xl" :class="daysUntilDeadline < 0 ? '' : ' text-myred'">
                        J{{ daysUntilDeadline }}</b
                     >
                     <b v-else>Prochaine étape : </b>
                  </div>
                  <p>
                     {{ project.nextGroupStep ? project.nextGroupStep?.name : "" }}
                  </p>
               </template>
            </div>
            <div class="flex flex-col lg:flex-row gap-2">
               <button class="btn btn-fourth !px-2" @click="$emit('showFees')">
                  <div class="flex items-center gap-2">
                     <IconComponent type="money_bag" color="black" size="16"></IconComponent>
                     <template v-if="!is_admin">Frais</template>
                  </div>
               </button>
               <button v-if="is_admin" class="btn btn-third" @click="$emit('showBills')">
                  <div class="flex items-center gap-2"><IconComponent type="shop" color="white" size="16"></IconComponent><span>Encaissements</span></div>
               </button>
               <button v-if="!is_admin && project.status == '1'" class="btn btn-third flex items-center gap-2" @click="$emit('endProject')">
                  <IconComponent type="close" color="white" size="18"></IconComponent>Mettre fin à la procèdure
               </button>
            </div>
         </div>
      </article>
   </section>
</template>

<script>
import IconComponent from "../../layouts/IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
import BadgeComponent from "../../layouts/BadgeComponent.vue";
import BadgeComponent1 from "../../layouts/BadgeComponent.vue";
export default {
   props: {
      project: { required: true },
      is_admin: { default: true },
   },
   data() {
      return {
         /*  moment: moment.locale("fr"), */
         moment: moment,
         edit: false,
         loading: false,
         form: {
            debtor_id: this.project.debtor_id,
            amount_ttc: this.project.amount_ttc,
         },
         amount_ttc_format: this.project.amount_ttc / 100,
         debtor_name: this.project.debtor.last_name.toUpperCase(),
         debtors: {
            data: [],
            loading: false,
         },
      };
   },
   components: { IconComponent, BadgeComponent, BadgeComponent1 },
   computed: {
      amount_ttcFormated: {
         get() {
            return this.amount_ttc_format;
         },
         set(newvalue) {
            this.form.amount_ttc = newvalue * 100;
            this.amount_ttc_format = newvalue;
         },
      },
      leftover_bills() {
         return ((this.project.amount_ttc + this.project.totalEngagedFeesTTC + this.project.totalComplementaryFeesTTC - this.project.billSum) / 100).toFixed(2);
      },
      purcent() {
         return Math.round((this.project.billSum / this.project.amount_ttc) * 100) > 100
            ? 100 + "%"
            : Math.round((this.project.billSum / this.project.amount_ttc) * 100) + "%";
      },
      formatId() {
         let id = this.project.id.toString();
         return id.padStart(7 - id.length, "0");
      },
      daysUntilDeadline() {
         let diff = null;
         if (this.project.currentStep?.days_until_deadline)
            diff = moment().diff(moment(this.project.currentProjectSteps.created_at).add(this.project.currentStep.days_until_deadline, "day"), "days");
         return diff != null && diff >= 0 ? "+" + diff : diff;
      },
   },
   methods: {
      goToProject() {
         window.location = `/dossiers/${this.project.id}`;
      },
      async loadDebtor() {
         this.edit = true;
         this.debtors.loading = true;
         try {
            let response = await axios.get(`/api/debtors/`);
            this.debtors.data = response.data;
            this.debtors.loading = false;
         } catch (e) {
            console.error(e);
            this.$emit("update:error", e.response.status);
            this.debtors.loading = false;
         }
      },
      async updateProject(type = "update") {
         this.loading = true;
         let response = null;
         try {
            if (type == "update") response = await axios.patch(`/api/projects/${this.project.id}`, this.form);
            if (type == "delete") {
               response = await axios.delete(`/api/projects/${this.project.id}`);
               window.location.href = "/dossiers";
            }
            this.loading = false;
            this.$emit("update:success");
            this.edit = false;
         } catch (e) {
            console.error(e);
            this.$emit("update:error", e.response.status);
            this.loading = false;
         }
      },
      handleChange(e) {
         this.debtor_name = e.target.options[e.target.options.selectedIndex].dataset.name;
      },
   },
};
</script>

<style></style>
