<template>
   <section>
      <AlertComponent v-if="project.error || project.success" :type="project.error ? 'danger' : 'success'" :status="project.status"></AlertComponent>
      <article v-if="!project.data || project.loading" class="w-full h-700 flex justify-center items-center">
         <SpinnerComponent></SpinnerComponent>
      </article>
      <article v-else class="flex flex-col xl:flex-row gap-8 sm:mt-4 lg:mt-10">
         <div class="w-full xl:w-800 flex flex-col gap-10 xl:h-800 xl:overflow-y-scroll lg:px-4">
            <ProjectCardPreviewComponent
               :is_admin="is_admin"
               @showFees="fees.show = true"
               @showBills="bills.show = true"
               @endProject="
                  step_tmp = 20;
                  alterProject('change_step');
               "
               :project="project.data"
               @update:success="
                  this.project.success = true;
                  this.project.status = $event;
               "
               @update:error="
                  this.project.error = true;
                  this.project.status = $event;
               "
               @project:select="
                  file_infos.file = project.data;
                  file_infos.show = true;
               "
            ></ProjectCardPreviewComponent>
            <form class="input-form flex items-end w-full gap-2" v-if="project.data.nextGroupStep && is_admin" @submit.prevent="alterProject('change_step')">
               <div class="flex-1">
                  <label for="step_list" class="mylabel block">Étape suivante</label>

                  <select class="myinput px-2 py-2 h-8" v-model="step_tmp" name="step_list" id="step_list">
                     <option value="" disabled selected>Sélectionner l'étape</option>

                     <optgroup v-if="project.data.currentStepGroup?.is_multiple == '1'" label="Étape(s) multiple(s)">
                        <option
                           :value="step.id"
                           v-for="step in nextSteps?.filter((el) => project.data.currentStepGroup?.id == el.step_group_id)"
                           :key="'step_' + step.id"
                        >
                           {{ step.name }}
                        </option>
                     </optgroup>
                     <optgroup label="Étape(s) suivante(s)">
                        <option
                           :value="step.id"
                           v-for="step in nextSteps?.filter((el) => project.data.currentStepGroup?.id != el.step_group_id)"
                           :key="'step_' + step.id"
                        >
                           {{ step.name }}
                        </option>
                     </optgroup>
                  </select>
               </div>
               <div>
                  <label for="step_date" class="mylabel block">Date de l'étape</label>
                  <input type="date" v-model="step_date" name="date" id="step_date" class="myinput !w-36 h-8" />
               </div>
               <button class="btn bg-myprimary hover:font-semibold h-8 w-8 flex justify-center items-center text-mywhite text-xl">+</button>
            </form>

            <div>
               <!--  <ul class="steps xl:h-400 xl:overflow-y-scroll px-4"> -->
               <ul class="steps">
                  <li v-for="(step, index) in project.data?.last_project_steps" :key="'step_' + index">
                     <ProjectStepItemComponent
                        :project_id="project.data?.id"
                        :client_id="project.data?.client_id"
                        :project_step="step"
                        :is_last="index + 1 == project.data?.last_project_steps.length"
                        :active_file="file_id_tmp"
                        :is_admin="is_admin"
                        :file_tmp="file_id_tmp"
                        @file:info="
                           file_infos.file = $event;
                           file_infos.show = true;
                        "
                        @note:info="
                           file_infos.file = $event;
                           file_infos.show = true;
                        "
                        @file:select="file_id_tmp = $event"
                        @update:success="
                           this.project.success = true;
                           this.project.status = $event;
                        "
                        @update:error="
                           this.project.error = true;
                           this.project.status = $event;
                        "
                        @update:steps="getData('project', false)"
                     >
                     </ProjectStepItemComponent>
                  </li>
               </ul>
            </div>
         </div>
         <div class="hidden xl:block flex-1">
            <div class="p-4 bg-mygrey3 rounded-xl w-full h-800">
               <iframe v-if="file_id_tmp" id="inlineFrameExample" title="Inline Frame Example" class="w-full h-full rounded" :src="'/api/files/' + file_id_tmp">
               </iframe>
               <article v-else class="w-full h-full flex justify-center items-center">
                  <IconComponent type="folder" color="white" size="48"></IconComponent>
               </article>
            </div>
         </div>
      </article>
      <BillsModaleComponent
         :project_id="project_id"
         :project_amount_ttc="project.data?.amount_ttc"
         :show="bills.show"
         @close="bills.show = false"
         :is_admin="is_admin"
         @bill:selected="
            file_infos.file = $event;
            file_infos.show = true;
         "
         @project:updated="getData('project', false)"
      >
      </BillsModaleComponent>
      <FeesModaleComponent
         :is_admin="is_admin"
         :project_id="project_id"
         :show="fees.show"
         @close="fees.show = false"
         :data="project.data ? project.data.getFees : null"
      ></FeesModaleComponent>
      <InfosModaleComponent :data="file_infos.file" :show="file_infos.show" @close="file_infos.show = false"></InfosModaleComponent>
   </section>
</template>

<script>
import ProjectCardPreviewComponent from "./ProjectCardPreviewComponent.vue";
import SpinnerComponent from "../../layouts/SpinnerComponent.vue";
import IconComponent from "../../layouts/IconComponent.vue";
import moment from "moment";
import BillsModaleComponent from "./bills/BillsModaleComponent.vue";
import FeesModaleComponent from "./fees/FeesModaleComponent.vue";
import NewNoteComponent from "./notes/NewNoteComponent.vue";
export default {
   props: {
      project_id: { required: true },
      user_role: { required: true },
   },
   data() {
      return {
         file_id_tmp: null,
         note_tmp: null,
         file_infos: {
            file: null,
            show: false,
         },
         project: {
            loading: false,
            data: null,
            status: null,
            error: false,
            success: false,
         },
         fees: {
            show: false,
         },
         bills: {
            show: false,
         },
         steps: null,
         step_tmp: "",
         step_date: moment().format("YYYY-MM-DD"),
      };
   },
   computed: {
      nextSteps() {
         return this.steps?.filter((step) => {
            if (this.project.data?.amount_ttc < 60000) {
               return (
                  step.phase_id != 4 &&
                  (step.step_group_id == this.project.data.nextGroupStep?.id ||
                     step.step_group_id == 15 ||
                     (step.step_group.is_multiple == "1" ? step.step_group_id == this.project.data.nextGroupStep?.id - 1 : false))
               );
            } else {
               return (
                  step.step_group_id == this.project.data.nextGroupStep?.id ||
                  step.step_group_id == 15 ||
                  (step.step_group.is_multiple == "1" ? step.step_group_id == this.project.data.nextGroupStep?.id - 1 : false)
               );
            }
         });
      },
      is_admin() {
         return this.user_role != "Utilisateur";
      },
   },
   mounted() {
      this.getData("project");
      this.getData("steps");
   },
   methods: {
      async getData(type = "project", loading = true) {
         if (loading) this.project.loading = true;
         this.project.error = false;
         this.project.success = this.project.success ? true : false;
         let result = null;
         try {
            if (type == "project") {
               result = await axios.get(`/api/projects/${this.project_id}?debtor&project_step&file&bill&timestamps`);
               this.project.data = result.data;
            } else if (type == "steps") {
               result = await axios.get(`/api/steps`);
               this.steps = result.data;
            } else if (type == "files") {
               result = await axios.get(`/api/files`, {});
               this.steps = result.data;
            }
         } catch (error) {
            result = error.response;
            console.error(error);
            this.project.error = true;
         } finally {
            this.project.status = result.status;
            if (loading) this.project.loading = false;
         }
      },
      async alterProject(type = "change_step", form = null) {
         this.project.loading = true;
         this.project.error = false;
         this.project.success = false;
         let result = null;
         try {
            if (type == "change_step") {
               result = await axios.post(`/api/project_steps/${this.project.data.id}/${this.step_tmp}`, { date: this.step_date });
               this.step_tmp = "";
               this.step_date = moment().format("YYYY-MM-DD");
            }
         } catch (error) {
            result = error.response;
            console.error(error);
            this.project.error = true;
         } finally {
            this.project.status = result.status;
            this.getData("project");
         }
      },
   },
   components: { ProjectCardPreviewComponent, SpinnerComponent, IconComponent, BillsModaleComponent, FeesModaleComponent, NewNoteComponent },
};
</script>
