<template>
   <div>
      <section class="after_hr flex items-start justify-between">
         <article class="flex-1 flex gap-4 mr-4">
            <div class="pt-2">
               <IconComponent type="list" :color="show_dropdown ? 'myprimary' : 'darkgrey'" size="10"></IconComponent>
            </div>
            <div class="flex-1">
               <p v-if="!edit">{{ form.name }}</p>
               <form v-else class="input-form" @submit.prevent="alterStep()">
                  <input :disabled="loading" class="myinput" v-model="form.name" type="text" name="step_name" id="step_name" />
               </form>

               <p class="text-mydarkgrey text-sm">
                  {{ formated_date }} par <span class="text-xs">{{ project_step.created_by.first_name }} {{ project_step.created_by.last_name[0] }}.</span>
               </p>
            </div>
         </article>
         <article class="flex items-center">
            <span v-if="!edit && project_step.files.length > 0 && is_admin" class="px-2 py-1"
               ><IconComponent type="file" size="18" color="mygrey"></IconComponent>
            </span>
            <a
               :href="`/dossiers/${project_id}/${project_step.id}/courier?simple`"
               v-if="project_step.step.id == 6"
               class="hover:bg-mygrey2 rounded p-1 px-2 cursor-pointer"
               @click="updateFiles"
            >
               <IconComponent type="mail" size="16"></IconComponent>
            </a>
            <a
               :href="`/dossiers/${project_id}/${project_step.id}/courier?demeure`"
               v-if="project_step.step.id == 8"
               class="hover:bg-mygrey2 rounded p-1 px-2 cursor-pointer"
               @click="updateFiles"
            >
               <IconComponent type="mail" size="16"></IconComponent>
            </a>
            <template v-if="is_admin">
               <button v-if="!edit" class="hover:bg-mygrey2 rounded px-2 py-1" @click="this.edit = !this.edit">
                  <IconComponent :type="edit ? 'update' : 'edit'" size="18"></IconComponent>
               </button>
               <button v-else :disabled="loading" class="hover:bg-mygrey2 rounded px-2 py-1" @click="alterStep()">
                  <IconComponent :type="edit ? 'update' : 'edit'" size="18"></IconComponent>
               </button>
            </template>
            <button
               v-if="is_admin"
               class="hover:bg-mygrey2 rounded px-2 py-1"
               @click="
                  show_notes = !show_notes;
                  show_dropdown = false;
               "
            >
               <IconComponent :type="show_notes ? 'note_close' : 'note'" size="18"></IconComponent>
            </button>
            <button v-if="is_admin" class="hover:bg-mygrey2 rounded px-2 py-1" @click="alterStep('delete')">
               <IconComponent type="trash" size="18" color="myred"></IconComponent>
            </button>
            <button
               v-if="is_admin || project_step.step_id == 1"
               class="hover:bg-mygrey2 rounded px-2 py-1"
               @click="
                  show_dropdown = !show_dropdown;
                  show_notes = false;
               "
            >
               <IconComponent :type="show_dropdown ? 'big_up' : 'big_down'" size="18"></IconComponent>
            </button>
         </article>
      </section>
      <div v-if="show_notes">
         <StepNotesComponent
            :is_admin="is_admin"
            @note:info="$emit('note:info', $event)"
            :project_step_id="project_step.id"
            @update:reset="$emit('update:reset')"
            @update:success="$emit('update:success', $event)"
            @update:error="$emit('update:error', $event)"
         >
         </StepNotesComponent>
      </div>
      <!-- DROPDOWN -->
      <div class="mb-6">
         <!-- DIVIDER -->
         <div v-if="!is_last && !show_dropdown && !show_notes" class="w-2 flex justify-center mb-2">
            <hr class="w-0.5 border" />
         </div>
         <!-- FILES ATTACHED -->
         <section v-show="show_dropdown" class="bg-mygrey2 rounded flex items-center px-4 py-4 my-4">
            <StepFilesComponent
               ref="stepFileComponent"
               @file:select="$emit('file:select', $event)"
               @file:info="$emit('file:info', $event)"
               :project_step_id="project_step.id"
               :project_id="project_id"
               :step_id="project_step.step_id"
               :client_id="client_id"
               :file_tmp="file_tmp"
               :is_admin="is_admin"
               @update:reset="$emit('update:reset')"
               @update:success="$emit('update:success', $event)"
               @update:error="$emit('update:error', $event)"
               @update:project="$emit('update:steps')"
            >
            </StepFilesComponent>
         </section>
      </div>
   </div>
</template>

<script>
import IconComponent from "../../layouts/IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
import StepNotesComponent from "./notes/StepNotesComponent.vue";
export default {
   props: {
      is_last: { default: false },
      client_id: { required: true },
      project_id: { required: true },
      project_step: { required: true },
      active_file: { default: null },
      is_admin: { default: true },
      file_tmp: { default: null },
   },
   components: { IconComponent, StepNotesComponent },
   data() {
      return {
         hover_file: false,
         edit: false,
         loading: false,
         show_dropdown: false,
         show_notes: false,
         moment: moment.locale("fr"),
         form: {
            file: null,
            name: this.project_step.name ? this.project_step.name : this.project_step.step.name,
         },
      };
   },
   computed: {
      formated_date() {
         return moment(this.project_step.date).format("ddd DD MMM");
      },
   },
   methods: {
      onFileChange: function (e) {
         var files = e.target.files || e.dataTransfer.files;
         if (!files.length) return;
         this.form.file = files[0];
         this.alterStep("file");
      },
      async alterStep(type = "name") {
         this.loading = true;
         let result = null;
         this.$emit("update:reset");
         try {
            if (type == "name") result = await axios.put(`/api/project_steps/${this.project_id}/${this.project_step.step_id}`, this.form);
            if (type == "delete") result = await axios.delete(`/api/project_steps/${this.project_id}/${this.project_step.step_id}`);
            this.$emit("update:files");
            this.$emit("update:success", result.status);
            this.$emit("update:steps");
         } catch (error) {
            console.error(error);
            result = error.response;
            this.$emit("update:error", result.status);
         } finally {
            this.edit = false;
            this.loading = false;
         }
      },
      updateFiles() {
         setTimeout(() => {
            this.$refs.stepFileComponent.updateFile("all");
         }, 1000);
      },
   },
};
</script>
<style scoped>
hr {
   height: 20px;
}
</style>
