<template>
   <tr class="rounded selected-row">
      <td class="py-3 text-center">
         <select required class="myinput" v-model="form.type" name="type" id="type">
            <option value="" disabled>Type de frais</option>
            <option value="1">Frais engagés</option>
            <option value="2">Montant complémentaire</option>
         </select>
      </td>
      <td class="text-center py-3">
         <input required v-model="form.date" class="myinput text-center w-30" type="date" />
      </td>
      <td class="py-3">
         <input required v-model="form.name" class="myinput w-full" placeholder="Intitulé du frais" type="text" />
      </td>
      <td class="text-right py-3 mx-2">
         <div class="ml-2 flex rounded overflow-hidden">
            <span class="bg-myprimary px-1 py-1 text-mywhite w-10 flex justify-center items-center">€</span>
            <input required placeholder="0.00" v-model="form.amount_ht" class="flex-1 myinput text-right w-20" type="number" min="0" step="0.01" />
         </div>
      </td>
      <td class="text-right py-3 mx-2">
         <div class="ml-2 flex rounded overflow-hidden">
            <span class="bg-myprimary px-1 py-1 text-mywhite w-10 flex justify-center items-center">€</span>
            <input required placeholder="0.00" v-model="form.amount_ttc" class="flex-1 myinput text-right w-20" type="number" min="0" step="0.01" />
         </div>
      </td>
      <td class="py-3 text-center">
         <button class="btn btn-primary !py-2 !px-2" @click="checkForm">
            <IconComponent type="plus" color="white" size="18"></IconComponent>
         </button>
      </td>
   </tr>
</template>

<script>
import IconComponent from "../../../layouts/IconComponent.vue";
export default {
   data() {
      return {
         form: {
            date: "",
            amount_ht: "",
            amount_ttc: null,
            type: 1,
            name: "",
         },
         amount_ttc_format: "",
      };
   },
   components: { IconComponent },
   watch: {
      "form.amount_ht": function (value) {
         console.log(value);
         this.form.amount_ttc = value * 1.2;
      },
   },
   methods: {
      checkForm() {
         if (this.form.date && this.form.amount_ttc && this.form.amount_ht && this.form.type && this.form.name) {
            this.$emit("create:fee", this.form);
         }
      },
   },
};
</script>

<style></style>
