<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-30 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <div class="z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-1500">
         <DialogTitle class="flex items-center gap-1"
            ><IconComponent type="money_bag"></IconComponent> FRAIS DE DOSSIER
            <button v-if="is_admin" class="btn no-underline text-myblack" @click="show_new = true">
               <span class="flex items-center gap-1 hover:font-bold text-sm font-normal"><IconComponent type="add" size="16"></IconComponent>Nouveau</span>
            </button>
         </DialogTitle>
         <AlertComponent v-if="fees.error || fees.success" :type="fees.error ? 'danger' : 'success'" :status="fees.status"></AlertComponent>
         <article v-if="fees.loading" class="w-full h-400 flex justify-center items-center">
            <SpinnerComponent></SpinnerComponent>
         </article>
         <section v-else class="my-10 text-sm px-2">
            <div v-if="!data" class="flex flex-col justify-center items-center gap-2 py-4 h-56">
               <p class="text-mydarkgrey font-medium text-sm">Aucun frais de dossier...</p>
            </div>
            <div v-else>
               <form @submit.prevent="updateFees('new')">
                  <table class="w-full table-fixed">
                     <thead>
                        <tr class="">
                           <th class="py-3 font-light w-52 text-center">Type</th>
                           <th class="py-3 font-light w-40 text-center">Date</th>
                           <th class="py-3 font-light text-left">Prestation</th>
                           <th class="py-3 font-light w-28 text-right">Montant (HT)</th>
                           <th class="py-3 font-light w-28 text-right pr-2">Montant (TTC)</th>
                           <th v-if="is_admin" class="py-3 font-light w-16 text-center pr-2">Action</th>
                        </tr>
                     </thead>
                     <tbody class="mystriped">
                        <FeesNewRowComponent v-if="show_new" @create:fee="new_fee = $event"></FeesNewRowComponent>
                        <FeesRowComponent :is_admin="is_admin" type="fee" v-for="(item, index) in all_fees" :item="item" :key="'fee_row' + index">
                           <template v-slot:dropdown>
                              <DropdownComponent
                                 type="action"
                                 :validation="fees.status == 0"
                                 @project:select="
                                    fee_infos.fee = item;
                                    fee_infos.show = true;
                                 "
                                 :is_admin="is_admin"
                                 @destroy="updateFees('destroy', item.id)"
                                 @validation="
                                    fee_infos.validation_show = true;
                                    fee_tmp = item.id;
                                 "
                              ></DropdownComponent> </template
                        ></FeesRowComponent>
                        <!--  <FeesRowComponent v-for="(item, index) in data" :item="item" :key="'item_row' + index"></FeesRowComponent> -->
                        <tr v-if="engaged_fees_ht > 0">
                           <td colspan="2"></td>
                           <td class="font-bold"><IconComponent type="dot" color="myred"></IconComponent> Frais engagés</td>

                           <td class="py-3 font-bold text-lg text-right">
                              € {{ engaged_fees_ht }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-myprimary py-3 font-bold text-lg text-right">
                              € {{ engaged_fees_ttc }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-center" v-if="is_admin"><IconComponent type="money_bag" color="myprimary"></IconComponent></td>
                        </tr>
                        <tr v-if="complementary_fees_ht > 0">
                           <td colspan="2"></td>
                           <td class="font-bold"><IconComponent type="dot" color="mygreen"></IconComponent> Frais complementaires</td>

                           <td class="py-3 font-bold text-lg text-right">
                              € {{ complementary_fees_ht }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-myprimary py-3 font-bold text-lg text-right">
                              € {{ complementary_fees_ttc }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-center" v-if="is_admin"><IconComponent type="money_bag" color="myprimary"></IconComponent></td>
                        </tr>
                        <tr v-if="other_fees_ht > 0">
                           <td colspan="2"></td>
                           <td class="font-bold"><IconComponent type="dot" color="myblue"></IconComponent> Frais autres</td>

                           <td class="py-3 font-bold text-lg text-right">
                              € {{ other_fees_ht }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-myprimary py-3 font-bold text-lg text-right">
                              € {{ other_fees_ttc }} <IconComponent v-if="!is_admin" type="money_bag" color="myprimary"></IconComponent>
                           </td>
                           <td class="text-center" v-if="is_admin"><IconComponent type="money_bag" color="myprimary"></IconComponent></td>
                        </tr>
                     </tbody>
                  </table>
               </form>
            </div>
         </section>

         <section class="flex justify-end">
            <button
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
         </section>
      </div>
      <InfosModaleComponent :data="fee_infos.fee" :show="fee_infos.show" @close="fee_infos.show = false"></InfosModaleComponent>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "../../../layouts/IconComponent.vue";
import AlertComponent from "../../../layouts/AlertComponent.vue";
import SpinnerComponent from "../../../layouts/SpinnerComponent.vue";
import DropdownComponent from "../../../layouts/DropdownComponent.vue";
import moment from "moment";
import "moment/locale/fr";
import FeesRowComponent from "./FeesRowComponent.vue";
import FeesNewRowComponent from "./FeesNewRowComponent.vue";
export default {
   props: {
      project_id: { required: true },
      show: { required: true },
      is_admin: { default: true },
      data: { default: null },
   },
   components: {
      Dialog,
      DialogOverlay,
      DialogTitle,
      DialogDescription,
      IconComponent,
      SpinnerComponent,
      AlertComponent,
      DropdownComponent,
      FeesRowComponent,
      FeesNewRowComponent,
   },
   data() {
      return {
         show_new: false,
         fees: {
            loading: false,
            data: [],
            status: null,
            error: false,
            success: false,
         },
         isOpen: this.show,
         moment: moment.locale("fr"),
         fee_infos: {
            fee: null,
            show: false,
            validation_show: false,
         },
         new_fee: null,
         fee_tmp: null,
      };
   },
   mounted() {
      this.updateFees();
   },
   computed: {
      engaged_fees_ttc() {
         return (
            this.fees.data
               .filter((el) => el.type == "1")
               .reduce((acc, curr) => {
                  return (acc = acc + parseInt(curr.amount_ttc));
               }, 0) / 100
         ).toFixed(2);
      },
      engaged_fees_ht() {
         return (
            this.fees.data
               .filter((el) => el.type == "1")
               .reduce((acc, curr) => {
                  return (acc = acc + parseInt(curr.amount_ht));
               }, 0) / 100
         ).toFixed(2);
      },
      complementary_fees_ht() {
         return (
            this.fees.data
               .filter((el) => el.type == "2")
               .reduce((acc, curr) => {
                  return (acc = acc + parseInt(curr.amount_ht));
               }, 0) / 100
         ).toFixed(2);
      },
      complementary_fees_ttc() {
         return (
            this.fees.data
               .filter((el) => el.type == "2")
               .reduce((acc, curr) => {
                  return (acc = acc + parseInt(curr.amount_ttc));
               }, 0) / 100
         ).toFixed(2);
      },
      other_fees_ht() {
         return (
            this.data.reduce((acc, curr) => {
               return (acc = acc + parseInt(curr.default_price_ht));
            }, 0) / 100
         ).toFixed(2);
      },
      other_fees_ttc() {
         return (this.other_fees_ht * 1.2).toFixed(2);
      },
      all_fees() {
         return [...this.fees.data, ...this.data].sort((a, b) => {
            let a_date = a?.default_price_ht >= 0 ? a.pivot.created_at : a.date;
            let b_date = b?.default_price_ht >= 0 ? b.pivot.created_at : b.date;

            return a_date > b_date ? 1 : -1;
         });
      },
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
      fee_selected() {
         if (this.fee_selected) {
            /* this.setIsOpen(false); */
            this.$emit("fee:selected", this.fee_selected);
         }
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
      async updateFees(type = "all", data = null) {
         this.fees.loading = true;
         this.fees.error = false;
         /* this.fees.success = this.fees.success; */
         let result = null;
         try {
            if (type == "all") {
               result = await axios.get(`/api/fees?project_id=${this.project_id}&creators`);
               this.fees.data = result.data;
            } else if (type == "new") {
               result = await axios.patch(`/api/fees`, { form: { ...this.new_fee, project_id: this.project_id } });
               this.fees.success = true;
               this.show_new = false;
               this.updateFees();
            } else if (type == "destroy") {
               result = await axios.delete(`/api/fees/${data}`);
               this.fees.success = true;
               this.updateFees();
            } else if (type == "validate") {
               result = await axios.post(`/api/fees/${this.fee_tmp}/validate`, { form: data });
               this.fee_infos.validation_show = false;
               this.fees.success = true;
               this.updateFees();
            }
         } catch (error) {
            result = error.response;
            console.error(error);
            this.fees.error = true;
         } finally {
            this.fees.status = result.status;
            this.fees.loading = false;
            this.$emit("project:updated");
         }
      },
   },
};
</script>
<style scoped lang="scss">
@import "resources/sass/_variables.scss";
</style>
