<template>
   <tr class="hover:shadow-border rounded">
      <td class="text-center py-3">
         <BadgeComponent
            :text="type == 'refact' ? 'Frais de dossier' : item.type == '1' ? 'Frais engagés' : 'Montant complémentaire'"
            :color="type == 'refact' ? 'mylightblue' : item.type == '1' ? 'mylightred' : 'mylightgreen'"
            :text_color="type == 'refact' ? 'myblue' : item.type == '1' ? 'myred' : 'mygreen'"
         ></BadgeComponent>
      </td>
      <td class="text-center py-3">{{ formatedDate(type == "refact" ? item.pivot.created_at : item.date) }}</td>
      <td class="py-3">{{ item.name }}</td>
      <td class="text-right py-3 pr-2">€ {{ ((type == "refact" ? item.default_price_ht : item.amount_ht) / 100).toFixed(2) }}</td>
      <td class="text-right py-3 pr-2">€ {{ ((type == "refact" ? item.default_price_ht * (1 + 20 / 100) : item.amount_ttc) / 100).toFixed(2) }}</td>
      <td v-if="is_admin" class="py-3 flex justify-center items-center"><slot v-if="type != 'refact'" name="dropdown"></slot></td>
   </tr>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
import BadgeComponent from "../../../layouts/BadgeComponent.vue";
export default {
   props: {
      item: {
         required: true,
      },
      is_admin: {
         required: true,
      },
   },
   data() {
      return {
         moment: moment.locale("fr"),
      };
   },
   computed: {
      type() {
         return this.item?.default_price_ht >= 0 ? "refact" : "engage";
      },
   },
   methods: {
      formatedDate(value) {
         return moment(value).format("ddd DD MMM");
      },
   },
   components: { BadgeComponent },
};
</script>

<style></style>
