<template>
   <section class="flex flex-col rounded-lg mr-3 mb-1" :class="active ? 'border-myprimary border-2' : ''">
      <div
         class="flex justify-between items-center px-2 py-1 cursor-pointer"
         :class="active && file.type == '2' ? 'bg-myprimary text-mywhite rounded !rounded-b-none' : active ? 'bg-myprimary rounded text-mywhite' : ''"
      >
         <button v-if="!edit" @click="$emit('file:select')" class="flex-1 text-left">{{ file.name }}</button>
         <form v-else class="input-form flex flex-1" @submit.prevent="$emit('file:update', form)">
            <input class="myinput text-myblack flex-1 mr-1" type="text" name="name" v-model="form.name" />
            <select class="myinput !w-28 text-myblack" v-model="form.type">
               <option value="1">Fichier</option>
               <option value="2">Facture</option>
            </select>
            <button v-if="form.type != '2'" class="rounded p-1 px-2 w-8"><IconComponent type="update" size="16" :color="iconColor"></IconComponent></button>
         </form>
         <div v-if="file.type == '2' && !edit" class="w-32">
            <BadgeComponent color="black" text_color="white" :text="'Facture - ' + amount_ttcFormated + '€'" :full_width="true"></BadgeComponent>
         </div>
         <article class="ml-2">
            <DropdownComponent
               v-if="!edit"
               :is_admin="is_admin"
               type="action"
               :border="false"
               :edit="true"
               @project:select="$emit('file:info', file)"
               @project:edit="
                  edit = !edit;
                  $emit('edit');
               "
               @destroy="$emit('file:delete')"
            ></DropdownComponent>
         </article>
      </div>
      <div v-if="form.type == '2' && active" class="bg-mygrey3 px-2 pt-3 rounded-b-lg">
         <form v-if="edit" class="text-sm flex flex-col" @submit.prevent="$emit('file:update', form)">
            <div>
               <label class="mylabel text-xs text-mydarkgrey" for="bill_title">Titre</label>
               <input required v-model.lazy="form.bill_title" class="myinput !bg-mywhite w-full" type="text" name="" id="bill_title" />
            </div>
            <div class="flex gap-2 items-center justify-between">
               <div class="flex-1">
                  <label class="mylabel text-xs text-mydarkgrey" for="bill_date">Date</label>
                  <input required v-model.lazy="form.bill_date" class="myinput !bg-mywhite w-full" type="date" name="" id="bill_date" />
               </div>
               <div class="flex-1">
                  <label class="mylabel text-xs text-mydarkgrey" for="bill_id">N° facture</label>
                  <input required v-model.lazy="form.bill_id" class="myinput !bg-mywhite w-full" type="text" name="" id="bill_id" />
               </div>
            </div>
            <div class="flex gap-1 items-center mb-3">
               <div class="flex-1">
                  <label class="mylabel text-xs text-mydarkgrey" for="bill_amount_ttc">Montant</label>
                  <div class="flex gap-1">
                     <span class="bg-myprimary rounded px-6 text-mywhite text-lg text-center w-10 flex items-center justify-center">€</span>
                     <input
                        required
                        v-model.lazy="amount_ttcFormated"
                        placeholder="0.00"
                        type="number"
                        class="myinput !py-1 !bg-mywhite w-full"
                        id="bill_amount_ttc"
                        step="0.01"
                        min="0"
                     />
                  </div>
               </div>
               <div class="flex-1">
                  <label class="mylabel text-xs text-mydarkgrey" for="bill_paid">Payé</label>
                  <div class="flex gap-1">
                     <span class="bg-myprimary rounded px-6 text-mywhite text-lg text-center w-10 flex items-center justify-center">€</span>
                     <input
                        required
                        v-model.lazy="leftFormated"
                        placeholder="0.00"
                        type="number"
                        class="myinput !py-1 !bg-mywhite w-full"
                        id="bill_paid"
                        step="0.01"
                        min="0"
                     />
                  </div>
               </div>
            </div>
            <div class="mb-3 flex justify-end">
               <button class="btn btn-primary rounded px-3 flex gap-2 items-center">
                  <span>Mettre à jour la facture</span><IconComponent type="update" size="16" color="white"></IconComponent>
               </button>
            </div>
         </form>
         <div v-else class="mb-2 mx-2">
            <div class="flex text-xs justify-between">
               <div class="flex flex-col">
                  <div class="">
                     <label class="mylabel block text-mydarkgrey">Titre</label>
                     <p class="text-lg font-bold">{{ form.bill_title }}</p>
                  </div>
                  <div class="flex gap-4">
                     <div class="">
                        <label class="mylabel block text-mydarkgrey">Référence</label>
                        <p class="text-lg uppercase font-bold">N°{{ form.bill_id }}</p>
                     </div>
                     <div class="">
                        <label class="mylabel block text-mydarkgrey">Date</label>
                        <div class="flex gap-2 items-center h-7">
                           <IconComponent type="calendar" :size="16"></IconComponent>
                           <p class="text-sm text-mydarkgrey">{{ moment(form.bill_date).format("DD/MM/YYYY") }}</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="flex flex-col pl-4">
                  <div class="flex justify-end">
                     <div>
                        <label class="mylabel block text-mydarkgrey">Montant</label>
                        <p class="text-3xl font-bold text-myprimary">€{{ amount_ttcFormated }}</p>
                     </div>
                  </div>
                  <div class="flex gap-4">
                     <div class="flex-1">
                        <label class="mylabel block text-mydarkgrey">Payé</label>
                        <p class="text-lg font-bold">€{{ leftFormated }}</p>
                     </div>
                     <div class="flex-1">
                        <label class="mylabel block text-mydarkgrey">Reste</label>
                        <p class="text-lg font-bold">€{{ (amount_ttcFormated - leftFormated).toFixed(2) }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
import BadgeComponent from "../../../layouts/BadgeComponent.vue";
import IconComponent from "../../../layouts/IconComponent.vue";
export default {
   props: {
      file: { required: true },
      active: { default: false },
      is_admin: { default: true },
   },
   data() {
      return {
         moment: moment,
         loading: false,
         edit: false,
         form: {
            name: this.file.name,
            type: this.file.type,
            bill_title: this.file.bill_title,
            bill_date: this.file.bill_date,
            bill_id: this.file.bill_id,
            bill_amount_ttc: this.file.bill_amount_ttc,
            bill_left: this.file.bill_left,
         },
         bill_amount_ttc_format: this.file.bill_amount_ttc / 100,
         bill_left_format: this.file.bill_left / 100,
      };
   },
   computed: {
      amount_ttcFormated: {
         get() {
            return this.bill_amount_ttc_format.toFixed(2);
         },
         set(newvalue) {
            this.form.bill_amount_ttc = newvalue * 100;
            this.bill_amount_ttc_format = newvalue.toFixed(2);
         },
      },
      leftFormated: {
         get() {
            return this.bill_left_format.toFixed(2);
         },
         set(newvalue) {
            this.form.bill_left = newvalue * 100;
            this.bill_left_format = newvalue.toFixed(2);
         },
      },
      iconColor() {
         return this.active ? "white" : "black";
      },
   },
   components: { BadgeComponent, IconComponent },
};
</script>

<style>
.mylabel {
   display: block;
}
</style>
