<template>
   <section class="bg-mygrey2 rounded flex items-center w-full">
      <article class="w-36 flex justify-center items-center">
         <div class="bg-myprimary rounded-full w-12 h-12" @mouseover="hover_file = true" @mouseleave="hover_file = false">
            <label :for="'file_' + project_step_id" class="cursor-pointer h-full w-full flex justify-center items-center">
               <IconComponent :type="hover_file ? 'folder_plus' : 'folder'" color="white" :size="hover_file ? '26' : '24'"></IconComponent
            ></label>
            <input class="hidden" type="file" name="file" :id="'file_' + project_step_id" accept="application/pdf" @change="onFileChange($event)" />
         </div>
      </article>
      <article class="flex-1 flex flex-col">
         <SpinnerComponent v-if="loading" :show_loading="false"></SpinnerComponent>
         <template v-else>
            <!--  EMPTY STATE -->
            <span class="text-xs text-mydarkgrey" v-if="data.files.length == 0">Aucun fichier associé ...</span>
            <template v-else>
               <!-- FILES -->
               <!-- <slot name="stepfilecomponent"></slot> -->
               <FilesComponent
                  @file:select="$emit('file:select', file.id)"
                  v-for="file in data.files"
                  :key="'file_' + file.id"
                  :file="file"
                  :is_admin="is_admin"
                  :active="file_tmp == file.id"
                  @file:update="updateFile('update', $event, file.id)"
                  @file:delete="updateFile('destroy', file.id)"
                  @file:info="$emit('file:info', file)"
                  @edit="file_tmp = file.id"
               ></FilesComponent>
            </template>
         </template>
      </article>
   </section>
</template>

<script>
export default {
   props: {
      project_step_id: {
         required: true,
      },
      is_admin: { default: true },
      project_id: {
         required: true,
      },
      step_id: {
         required: true,
      },
      client_id: {
         required: true,
      },
      file_tmp: {
         default: null,
      },
   },
   mounted() {
      this.updateFile("all");
   },
   data() {
      return {
         loading: false,
         form: {
            file: null,
         },
         data: {
            files: [],
         },
         hover_file: false,
      };
   },
   methods: {
      onFileChange: function (e) {
         var files = e.target.files || e.dataTransfer.files;
         if (!files.length) return;
         this.form.file = files[0];
         this.updateFile("new");
      },
      async updateFile(type, file = null, id = null) {
         this.loading = true;
         let result = null;
         this.$emit("update:reset");
         try {
            if (type == "all") {
               result = await axios.get(`/api/files?project_step_id=${this.project_step_id}`);
               this.data.files = result.data;
            } else if (type == "destroy") {
               result = await axios.delete(`/api/files/${file}`);
               this.updateFile("all");
            } else if (type == "update") {
               result = await axios.patch(`/api/files/${id}`, file);
               this.$emit("update:project");
               this.updateFile("all");
            } else if (type == "new") {
               let formData = new FormData();
               formData.append("file", this.form.file);
               formData.append("project_id", this.project_id);
               formData.append("project_step_id", this.project_step_id);
               formData.append("step_id", this.step_id);
               formData.append("client_id", this.client_id);
               result = await axios.post(`/api/files`, formData);
               this.updateFile("all");
            }
            if (type != "all") this.$emit("update:success", result.status);
         } catch (error) {
            console.error(error);
            result = error.response;
            this.$emit("update:error", result.status);
         } finally {
            if (type == "all") this.loading = false;
         }
      },
   },
};
</script>

<style></style>
