<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-40 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <div class="z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-1800">
         <DialogTitle class="flex items-center gap-2"><IconComponent type="file"></IconComponent> COMPLÉMENT DE FACTURE</DialogTitle>

         <section class="py-10 px-8 flex gap-8">
            <div class="p-4 flex-1 h-700 bg-mygrey3 rounded-xl">
               <iframe v-if="url" class="w-full h-full rounded" :src="'/api/client_bills/preview' + url" frameborder="0"></iframe>
               <SpinnerComponent v-else></SpinnerComponent>
            </div>

            <div class="w-500 mt-16">
               <form class="input-form">
                  <AlertComponent
                     :text="bill.message"
                     v-if="bill.error || bill.success"
                     :type="bill.error ? 'danger' : 'success'"
                     :status="bill.status"
                  ></AlertComponent>
                  <h4 class="font-bold text-xl mb-4 text-myprimary">Informations compémentaires</h4>
                  <div>
                     <label class="mylabel" for="cegid_id">N° Cegid</label>
                     <input type="text" name="cegid_id" class="myinput" id="cegid_id" v-model="bill.form.cegid_id" />
                  </div>
               </form>
               <div class="text-mydarkgrey mt-4">
                  <h6 class="flex items-center gap-2 font-bold"><IconComponent type="info" :size="14"></IconComponent>Informations</h6>
                  <p>Attention, générer le complément de facture entrainera la mise en facturation des dossiers sélectionnés.</p>
               </div>
            </div>
         </section>

         <section class="flex justify-end">
            <button
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
            <button @click="generateBill()" :disabled="is_empty" class="btn btn-primary">Générer le complément</button>
         </section>
      </div>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "../../layouts/IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      url: { required: true },
      show: { required: true },
      is_empty: { default: true },
   },
   components: { Dialog, DialogOverlay, DialogTitle, DialogDescription, IconComponent },
   data() {
      return {
         isOpen: this.show,
         moment: moment.locale("fr"),
         bill: {
            loading: false,
            status: 200,
            error: false,
            success: false,
            message: null,
            form: {
               cegid_id: "",
            },
         },
      };
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
      async generateBill() {
         this.bill.loading = true;
         this.bill.status = 200;
         this.bill.error = false;
         this.bill.success = false;
         let response = null;
         try {
            if (this.bill.form.cegid_id) {
               response = await axios.get(`/api/client_bills/export${this.url}&cegid_id=${this.bill.form.cegid_id}`);
               this.bill.status = response.status;
               this.bill.success = true;
               this.setIsOpen(false);
               this.$emit("close");
               this.$emit("success");
               window.open(`api/client_bills/${response.data}/download`, "_blank");
            } else {
               response = { status: 400, data: { message: "Veuillez renseigner le numéro Cegid" } };
               this.bill.status = response.status;
               this.bill.error = true;
            }
         } catch (error) {
            if (error.response) {
               console.log(error.response);
               this.bill.status = error.response.status;
               this.bill.error = true;
               if (error.response.data.message) {
                  this.bill.message = error.response.data.message;
               }
            }
            console.error(error);
         } finally {
            this.bill.loading = false;
         }
      },
   },
};
</script>

<style></style>
