<template>
   <tr class="hover:shadow-border rounded cursor-pointer">
      <td class="align-top">
         <div class="h-12 justify-center flex items-center">
            <input
               type="checkbox"
               v-model="checked_tmp"
               @change="$emit('check:change', checked_tmp)"
               class="w-4 h-4 text-myprimary !bg-mydarkgrey !rounded-xl border-mydarkgrey focus:ring-myprimary focus:ring-2"
            />
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="h-12 justify-center flex items-center">
            <p class="font-bold text-myprimary">N°{{ formatId }}</p>
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="h-12 justify-center flex items-center">
            <p class="text-sm text-center">
               <b>{{ project.debtor.last_name.toUpperCase() }}</b>
            </p>
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="flex gap-2 items-center">
            <ul class="flex-1 text-sm text-left">
               <li class="h-12 flex items-center text-mydarkgrey font-light" v-if="engagedFees.length == 0">Aucun frais de dossier ...</li>
               <template v-else>
                  <li
                     v-for="(engaged_fees_ttc, index) in engagedFees"
                     :key="index + '_engagedFees'"
                     class="flex items-center justify-between pl-2 rounded"
                     :class="engagedFees.length == 1 ? 'h-12' : 'h-8'"
                  >
                     <div class="flex items-center gap-2">
                        <IconComponent type="list" size="8"></IconComponent>
                        <p>{{ engaged_fees_ttc.name }}</p>
                     </div>

                     <BadgeComponent :text="'€' + (engaged_fees_ttc.amount_ht / 100).toFixed(2)" color="mylightred" text_color="myred"></BadgeComponent>
                  </li>
               </template>
            </ul>
            <BadgeComponent
               color="myprimary"
               text_color="white"
               v-if="!show_details && engagedFees != 0"
               :text="this.project.engagedFees.length"
            ></BadgeComponent>
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="h-12 justify-center flex items-center">
            <p class="text-sm text-center">
               <b>€{{ (project.totalEngagedFeesHT / 100).toFixed(2) }}</b>
            </p>
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="flex gap-2 items-center">
            <ul class="flex-1 text-sm text-left">
               <li class="h-12 flex justify-between items-center text-mydarkgrey font-light" v-if="projectFees.length == 0">Aucun frais de dossier ...</li>
               <template v-else>
                  <li
                     class="flex items-center justify-between pl-2 rounded"
                     :class="engagedFees.length == 1 ? 'h-12' : 'h-8'"
                     v-for="(project_fees, index) in projectFees"
                     :key="index + '_projectFees'"
                  >
                     <div class="flex items-center gap-2">
                        <IconComponent type="list" size="8"></IconComponent>
                        <p>{{ project_fees.name }}</p>
                     </div>
                     <BadgeComponent :text="'€' + (project_fees.default_price_ht / 100).toFixed(2)" color="mylightblue" text_color="myblue"></BadgeComponent>
                  </li>
               </template>
            </ul>
            <BadgeComponent
               color="myprimary"
               text_color="white"
               v-if="!show_details && projectFees != 0"
               :text="this.project.projectFees.filter((el) => el.default_price_ht > 0).length + 1"
            ></BadgeComponent>
         </div>
      </td>
      <td class="align-top" @click="goToProject()">
         <div class="h-12 justify-center flex items-center">
            <p class="text-sm text-center">
               <b>€{{ ((project.totalProjectFeesHT + project.totalCommissionHT) / 100).toFixed(2) }}</b>
            </p>
         </div>
      </td>

      <td class="align-top">
         <div class="h-12 justify-center flex items-center">
            <button class="w-9 h-9 rounded-lg hover:bg-mygrey2 p-1" @click="show_details = !show_details">
               <IconComponent :type="show_details ? 'up' : 'down'" size="18"></IconComponent>
            </button>
         </div>
      </td>
   </tr>
</template>

<script>
import BadgeComponent from "../../layouts/BadgeComponent.vue";
export default {
   props: {
      project: {
         required: true,
      },
      checked: {
         default: false,
      },
   },
   data() {
      return {
         show_details: false,
         checked_tmp: this.checked,
      };
   },
   watch: {
      checked() {
         this.checked_tmp = this.checked;
      },
   },
   computed: {
      formatId() {
         let id = this.project.id.toString();
         return id.padStart(7 - id.length, "0");
      },
      engagedFees() {
         return this.show_details ? this.project.engagedFees : this.project.engagedFees.slice(0, 1);
      },
      projectFees() {
         let projectFeesArray = [...this.project.projectFees.filter((el) => el.default_price_ht > 0)];
         projectFeesArray.push({
            name: "Total commission (TTC)",
            default_price_ht: this.project.totalCommissionHT,
         });
         return this.show_details ? projectFeesArray : projectFeesArray.slice(0, 1);
      },
   },
   methods: {
      goToProject() {
         window.open(`/dossiers/${this.project.id}`, "_blank");
      },
   },
   components: { BadgeComponent },
};
</script>

<style></style>
