<template>
   <section>
      <AlertComponent v-if="projects.error || projects.success" :type="projects.error ? 'danger' : 'success'" :status="projects.status"></AlertComponent>
      <EncaissementHeaderComponent
         :date="projects.date"
         @date:update="
            projects.date = $event;
            getData();
         "
         @submit:search="
            projects.pattern = $event;
            getData();
         "
         @project_type:update="
            projects.type = $event;
            getData();
         "
         @date:ignore="
            projects.date_ignore = $event;
            getData();
         "
         @submit:export="getData()"
         :total="total_fees"
         :resultat="projects.total"
         :client_id="client_id"
         :array_id="projects.id_checked"
         @preview:bill="show_preview = true"
      ></EncaissementHeaderComponent>

      <SpinnerComponent v-if="projects.loading"></SpinnerComponent>
      <!-- BODY -->
      <div v-show="!projects.loading">
         <!--  EMPTY STATE -->
         <div v-if="projects.data?.length == 0" class="flex flex-col justify-center items-center gap-2 py-4 h-700 bg-mygrey3 rounded-lg">
            <p class="text-mydarkgrey font-medium text-sm">Aucun dossier...</p>
         </div>

         <table v-else class="w-full border-collapse table-fixed text-center">
            <thead>
               <th class="py-3 font-light w-8">
                  <input
                     v-model="projects.all_checked"
                     @change="checkAllProject($event.target.checked)"
                     id="disabled-checkbox"
                     type="checkbox"
                     value=""
                     class="mt-1 w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"
                  />
               </th>
               <th class="py-3 font-light w-28">N° Dossier</th>
               <th class="py-3 font-light w-52">Débiteur</th>
               <th class="text-left font-light">Frais engagés</th>
               <th class="text-left font-light w-32">Total F. engagés</th>
               <th class="text-left font-light">Frais de dossier</th>
               <th class="text-left font-light w-32">Total F. dossier</th>
               <th class="py-3 font-light w-14">Action</th>
            </thead>
            <tbody class="mystriped">
               <EncaissementProjectRowComponent
                  v-for="(project, index) in projects.data"
                  :key="'projectRow_' + index"
                  :project="project"
                  :checked="projects.id_checked[project.id]"
                  @check:change="projects.id_checked[project.id] = $event"
               ></EncaissementProjectRowComponent>
            </tbody>
         </table>
      </div>
      <EncaissementModalePreviewComponent
         :is_empty="id_checked_tmp == ''"
         :url="url_preview"
         :show="show_preview"
         @close="show_preview = !show_preview"
         @success="
            projects.success = true;
            getData();
         "
      ></EncaissementModalePreviewComponent>
   </section>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
import EncaissementProjectRowComponent from "./EncaissementProjectRowComponent.vue";
import EncaissementModalePreviewComponent from "./EncaissementModalePreviewComponent.vue";
export default {
   props: {
      is_admin: {
         default: false,
      },
      client_id: { required: true },
   },
   data() {
      return {
         moment: moment,
         show_preview: false,
         projects: {
            all_checked: false,
            type: "0",
            data: [],
            pattern: "",
            date_ignore: false,
            date: {
               start: moment().endOf("month").subtract(1, "month").add(1, "day").format("YYYY-MM-DD"),
               end: moment().endOf("month").format("YYYY-MM-DD"),
            },
            id_checked: [],
            loading: false,
            status: null,
            error: false,
            success: false,
            total: 0,
         },
      };
   },
   mounted() {
      this.getData();
   },
   computed: {
      total_fees() {
         if (this.projects.data.length > 0) {
            return this.projects.data
               ?.reduce((acc, project) => {
                  return (
                     acc +
                     project.projectFees.reduce((acc2, fee2) => {
                        return acc2 + parseInt(fee2.default_price_ht);
                     }, 0) +
                     project.engagedFees.reduce((acc3, fee3) => {
                        return acc3 + parseInt(fee3.amount_ht);
                     }, 0) +
                     parseInt(project.totalCommissionHT)
                  );
               }, 0)
               .toFixed(2);
         } else {
            return (0).toFixed(2);
         }
      },
      id_checked_tmp() {
         return this.projects.id_checked
            ?.map((el, index) => (el ? index : null))
            .filter((el) => el)
            .join(",");
      },
      url_preview() {
         return (
            "?date_start=" +
            this.projects.date.start +
            "&date_end=" +
            this.projects.date.end +
            "&client_id=" +
            this.client_id +
            "&date_ignore=" +
            this.projects.date_ignore +
            "&array_id=" +
            this.id_checked_tmp
         );
      },
   },
   components: { EncaissementProjectRowComponent, EncaissementModalePreviewComponent },
   methods: {
      async getData(type = "project:all", pattern = "") {
         this.projects.loading = true;
         let result = null;
         try {
            if (type == "project:all") {
               result = await axios.post(`/api/projects/all?debtor&project_type=` + this.projects.type, {
                  pattern: this.projects.pattern,
                  client_id: this.client_id,
                  fees_date: this.projects.date,
                  date_ignore: this.projects.date_ignore,
               });
            }
            if (type == "bill:store") {
               result = await axios.post(`/api/client_bills`, {
                  client_id: this.client_id,
                  date: this.projects.date,
               });
            }

            this.projects.total = result.data.length;
            this.projects.data = result.data;
            this.checkAllProject(this.projects.all_checked);
         } catch (error) {
            result = error.response;
            console.error(error);
            this.projects.error = true;
         } finally {
            this.projects.status = result.status;
            this.projects.loading = false;
         }
      },

      checkAllProject(value) {
         this.projects.id_checked = [];
         if (this.projects.data.length)
            this.projects.data.forEach((project) => {
               this.projects.id_checked[project.id] = value;
            });
      },
   },
};
</script>

<style></style>
