<template>
   <header class="py-4 mt-3">
      <article class="flex flex-col lg:flex-row justify-between items-center">
         <div class="flex flex-col items-center lg:items-start gap-2">
            <div class="flex items-center gap-2">
               <IconComponent :type="project_type_list[project_type]" size="20"></IconComponent>
               <select
                  class="font-bold text-xl !bg-none !border-none uppercase py-2"
                  v-model="project_type"
                  @change="$emit('project_type:update', project_type)"
               >
                  <option value="0">Dossiers en cours</option>
                  <option value="1">Dossiers Cloturés</option>
                  <option value="2">Dossiers facturés</option>
               </select>
            </div>

            <div class="flex items-center relative gap-2">
               <div class="flex flex-col lg:flex-row items-center gap-4">
                  <div class="flex items-center">
                     <h3 class="text-lg">{{ moment(date_tmp.start).format("ll") }} - {{ moment(date_tmp.end).format("ll") }}</h3>
                     <button class="rounded-lg hover:bg-mygrey2 p-2" @click="page.show_picker = !page.show_picker">
                        <IconComponent type="calendar" size="18"></IconComponent>
                     </button>
                  </div>
                  <SwitchComponent
                     text="ignorer les dates"
                     @input:update="
                        date_ignore = $event;
                        $emit('date:ignore', $event);
                     "
                  ></SwitchComponent>
               </div>
               <div @mouseleave="page.show_picker = false" class="absolute top-12 z-10 right-0">
                  <DatePicker v-if="page.show_picker" v-model="date_tmp" :select-attribute="attribute" :drag-attribute="attribute" is-range />
               </div>
            </div>
         </div>
         <div class="text-center flex flex-col lg:text-right">
            <h1>€{{ total }}</h1>
            <article class="flex flex-col lg:flex-row-reverse justify-between items-center gap-2 mt-2">
               <SearchbarComponent @submit:search="$emit('submit:search', $event)"></SearchbarComponent>
               <div class="flex flex-1 justify-between items-center gap-2">
                  <p class="text-mydarkgrey text-xs">{{ resultat }} Résultat(s)</p>
                  <div class="flex items-center gap-2">
                     <!--  <a
                        @click="updateProjects()"
                        v-if="project_type == '1'"
                        :href="
                           array_id_tmp == ''
                              ? '#'
                              : '/api/client_bills/export?date_start=' +
                                date_tmp.start +
                                '&date_end=' +
                                date_tmp.end +
                                '&client_id=' +
                                client_id +
                                '&date_ignore=' +
                                date_ignore +
                                '&array_id=' +
                                array_id_tmp
                        "
                        class="w-9 h-9 rounded-lg flex justify-center items-center border-2 hover:bg-mygrey2"
                     >
                        <span class="px-2 py-1 flex items-center gap-2"> <IconComponent type="export" size="16"></IconComponent></span>
                     </a> -->
                     <button
                        @click="$emit('preview:bill')"
                        v-if="project_type == '1'"
                        class="w-9 h-9 rounded-lg flex justify-center items-center border-2 hover:bg-mygrey2"
                     >
                        <span class="px-2 py-1 flex items-center gap-2"> <IconComponent type="export" size="16"></IconComponent></span>
                     </button>
                  </div>
               </div>
            </article>
         </div>
      </article>
   </header>
</template>

<script>
import { isNullableTypeAnnotation } from "@babel/types";
import moment from "moment";
import "moment/locale/fr";
import SearchbarComponent from "../../layouts/SearchbarComponent.vue";
export default {
   props: {
      total: { default: 0 },
      resultat: { default: 0 },
      date: { required: true },
      client_id: { required: true },
      array_id: { required: true },
   },
   data() {
      return {
         project_type: "0",
         project_type_list: ["project_open", "project_close", "project_close"],
         page: {
            show_picker: false,
         },
         array_id_tmp: null,
         moment: moment,
         date_ignore: false,
         date_tmp: this.date,
         attribute: {
            highlight: {
               start: {
                  style: {
                     backgroundColor: "#286BEE", // blue
                  },
                  contentStyle: {
                     color: "#ffffff", // color of the text
                  },
               },
               base: {
                  style: {
                     backgroundColor: "#EAEFF9", // light blue
                  },
               },
               end: {
                  style: {
                     backgroundColor: "#286BEE", // blue
                  },
                  contentStyle: {
                     color: "#ffffff", // color of the text
                  },
               },
            },
         },
      };
   },
   components: { SearchbarComponent },
   watch: {
      array_id: {
         handler(newVal, oldVal) {
            this.array_id_tmp = newVal
               ?.map((el, index) => (el ? index : null))
               .filter((el) => el)
               .join(",");
         },
         deep: true,
      },
      date_tmp: {
         handler(newVal, oldVal) {
            this.$emit("date:update", {
               start: moment(newVal.start).format("YYYY-MM-DD"),
               end: moment(newVal.end).format("YYYY-MM-DD"),
            });
         },
         deep: true,
      },
   },
   methods: {
      updateProjects() {
         setTimeout(() => {
            this.$emit("submit:export");
         }, 200);
      },
   },
};
</script>

<style></style>
