<template>
   <span
      class="px-3 py-1 rounded-lg whitespace-nowrap truncate"
      :class="[full_width ? ' flex justify-center text-myblue ' : '', bold ? ' font-bold ' : '', 'text-' + size]"
      :style="'background-color: ' + colors[bgColorType] + ';color: ' + colors[colorType] + ' !important;'"
      >{{ text }}</span
   >
</template>

<script>
export default {
   props: {
      text: { required: true },
      color: { default: "mygrey2" },
      text_color: { default: "myblack" },
      full_width: { default: false },
      bold: { default: false },
      size: { default: "xs" },
   },
   data() {
      return {
         colors: {
            white: "#FFFFFF",
            black: "#102347",
            myprimary: "#286BEE",
            mydarkgrey: "#7A868C",
            mygrey2: "#E7ECEE",
            myred: "#eb4f4f",
            mygreen: "#0acf83",
            mylightred: "#fff4f4",
            mylightgreen: "#ebfdeb",
            myblue: "#3069AC",
            mylightblue: "#EAEFF9",
            transparent: "transparent",
         },
      };
   },
   computed: {
      emptyState() {
         return this.text == "Aucune étape";
      },
      completedState() {
         return this.text == "Terminé";
      },
      billedState() {
         return this.text == "Clos";
      },
      bgColorType() {
         if (this.emptyState) {
            return "transparent";
         } else if (this.completedState) {
            return "mylightgreen";
         } else if (this.billedState) {
            return "mylightred";
         } else {
            return this.color;
         }
      },
      colorType() {
         if (this.emptyState) {
            return "mydarkgrey";
         } else if (this.completedState) {
            return "mygreen";
         } else if (this.billedState) {
            return "myred";
         } else if (this.color == "mylightred") {
            return "myred";
         } else {
            return this.text_color;
         }
      },
   },
};
</script>

<style></style>
