<template>
   <article class="w-full md:w-48 h-48 bg-mygrey3 rounded-lg p-4 flex flex-col my-2 justify-between">
      <header><IconComponent :type="icon" size="32"></IconComponent></header>
      <h2 class="text-3xl text-myprimary">{{ value }}</h2>
      <footer class="w-16 text-mydarkgrey">{{ title }}</footer>
   </article>
</template>

<script>
export default {
   props: {
      title: {
         default: "Card Component",
      },
      value: {
         default: "€0.00",
      },
      icon: {
         default: "user",
      },
   },
};
</script>

<style></style>
