<template>
   <div class="flex items-center relative gap-2">
      <div class="flex flex-col items-center gap-4" :class="reverse ? 'lg:flex-row-reverse' : 'lg:flex-row'">
         <div class="flex items-center">
            <h3 class="text-lg">{{ moment(date_tmp.start).format("ll") }} - {{ moment(date_tmp.end).format("ll") }}</h3>
            <button class="rounded-lg hover:bg-mygrey2 p-2" @click="$emit('date:show', !show_picker)">
               <IconComponent type="calendar" size="18"></IconComponent>
            </button>
         </div>
         <SwitchComponent :reverse="reverse" text="ignorer les dates" @input:update="$emit('date:ignore', $event)"></SwitchComponent>
      </div>
      <div @mouseleave="$emit('date:show', false)" class="absolute top-12 z-10 right-0">
         <DatePicker v-if="show_picker" v-model="date_tmp" :select-attribute="attribute" :drag-attribute="attribute" is-range />
      </div>
   </div>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      date: {
         type: Object,
         default: {
            start: moment().subtract(1, "month").startOf("month").format("YYYY-MM-DD"),
            end: moment().subtract(1, "month").endOf("month").format("YYYY-MM-DD"),
         },
      },
      date_ignore: {
         type: Boolean,
         default: false,
      },
      show_picker: {
         type: Boolean,
         default: false,
      },
      reverse: {
         type: Boolean,
         default: false,
      },
   },
   watch: {
      date_tmp: {
         handler(new_value, old_value) {
            this.$emit("date:update", new_value);
         },
         deep: true,
      },
   },
   data() {
      return {
         date_tmp: this.date,
         moment: moment,
         attribute: {
            highlight: {
               start: {
                  style: {
                     backgroundColor: "#286BEE", // blue
                  },
                  contentStyle: {
                     color: "#ffffff", // color of the text
                  },
               },
               base: {
                  style: {
                     backgroundColor: "#EAEFF9", // light blue
                  },
               },
               end: {
                  style: {
                     backgroundColor: "#286BEE", // blue
                  },
                  contentStyle: {
                     color: "#ffffff", // color of the text
                  },
               },
            },
         },
      };
   },
};
</script>

<style></style>
