<template>
   <div class="flex gap-4 flex-col xl:flex-row" id="app">
      <div class="xl:w-500 h-550 my-2">
         <div class="bg-mygrey2 border-2 w-full h-full rounded-xl flex items-center justify-center">
            <embed v-if="embedSrc" type="video/webm" :src="embedSrc" class="w-full h-full rounded-xl" />
            <div v-else class="text-center">
               <IconComponent type="show" color="white" size="56"></IconComponent>
               <p class="text-sm text-mydarkgrey">Prévisualisation des documents</p>
            </div>
         </div>
      </div>
      <div class="flex-1 my-2">
         <div
            class="flex-1 dragdrop rounded-xl flex flex-col py-2 items-center justify-center bg-mygrey2 border-2 border-mygrey2"
            :class="error ? '!border-myred' : ''"
            @dragover="dragover"
            @dragleave="dragleave"
            @drop="drop"
         >
            <IconComponent :type="add_file ? 'add-files' : 'file'" :color="add_file ? 'myprimary' : 'white'" size="56"></IconComponent>

            <label for="assetsFieldHandle" class="bg-mygrey2 cursor-pointer">
               <p class="">Envoyez vos fichiers ici, ou <b class="cursor-pointer">parcourir</b></p>
            </label>
            <p class="text-sm text-mydarkgrey">Autorise les pdf</p>
            <input type="file" multiple name="fields[assetsFieldHandle][]" id="assetsFieldHandle" class="hidden" @change="onChange" ref="file" accept=".pdf" />
         </div>
         <ul v-if="this.filelist.length" class="my-2 h-400 overflow-y-auto myUl px-2" v-cloak>
            <li>
               <div class="flex justify-between">
                  <p class="text-sm text-mydarkgrey">Titre</p>
                  <div class="flex gap-2">
                     <span class="w-48 text-sm text-mydarkgrey">Type</span>
                     <span class="w-24 text-sm text-mydarkgrey">Action</span>
                  </div>
               </div>
            </li>

            <FileDragAndDropRowComponent
               @remove:file="remove(filelist.indexOf(file))"
               @update:file="file.complement.type = $event"
               @update:file_name="file.complement.name = $event"
               @update:bill="
                  file.complement.bill_date = $event.date;
                  file.complement.bill_id = $event.id;
                  file.complement.bill_title = $event.title;
                  file.complement.bill_amount_ttc = $event.amount_ttc;
                  file.complement.bill_left = $event.paid;
               "
               @select:file="
                  previewPdf(file.file);
                  file_selected = index;
               "
               v-for="(file, index) in filelist"
               :key="'file_' + index"
               :file="file"
               :active="file_selected === index"
            ></FileDragAndDropRowComponent>
         </ul>
      </div>
   </div>
</template>

<script>
import IconComponent from "./IconComponent.vue";
export default {
   props: {
      error: { default: false },
      type: { default: "bills" },
      file_types: { required: false },
   },
   data() {
      return {
         file_selected: null,
         filelist: [],
         add_file: false,
         embedSrc: null,
      };
   },
   watch: {
      filelist: function () {
         this.$emit("getFiles", this.filelist);
      },
   },
   methods: {
      previewPdf(target) {
         this.embedSrc = URL.createObjectURL(target);
      },
      onChange(event) {
         [...this.$refs.file.files].forEach((element) => {
            this.filelist = this.filelist.concat({
               file: element,
               complement: { type: "", name: "", bill_date: "", bill_id: "", bill_title: "", bill_amount_ttc: "", bill_paid: "", bill_left: "" },
            });
         });
      },
      remove(i) {
         this.filelist.splice(i, 1);
      },
      dragover(event) {
         this.add_file = true;
         event.preventDefault();
         // Add some visual fluff to show the user can drop its files
         if (!event.currentTarget.classList.contains("border-myprimary")) {
            event.currentTarget.classList.remove("border-mygrey2");
            event.currentTarget.classList.add("border-dashed");
            event.currentTarget.classList.add("border-myprimary");
         }
      },
      dragleave(event) {
         this.add_file = false;
         // Clean up
         event.currentTarget.classList.remove("border-myprimary");
         event.currentTarget.classList.remove("border-dashed");
         event.currentTarget.classList.add("border-mygrey2");
      },
      drop(event) {
         event.preventDefault();
         this.$refs.file.files = event.dataTransfer.files;
         this.onChange(); // Trigger the onChange event manually
         // Clean up
         this.add_file = false;
         event.currentTarget.classList.add("border-mygrey2");
         event.currentTarget.classList.remove("border-dashed");
         event.currentTarget.classList.remove("border-myprimary");
      },
   },
   components: { IconComponent },
};
</script>
<style>
.myUl > li:nth-child(even) {
   background-color: #e7ecee;
}
.myUl > li:nth-child(odd) {
   border: 1px solid #f6f6f6;
}
</style>
