<template>
   <section class="relative">
      <button
         type="button"
         :class="[type == 'action' ? 'w-7 h-7' : '', border ? 'border-2' : '']"
         @click="show = !show"
         class="lg:w-9 lg:h-9 rounded-lg flex justify-center items-center hover:bg-mygrey2"
      >
         <IconComponent v-if="type == 'action'" type="action"></IconComponent>
         <span v-if="type == 'filter'" class="px-2 py-1 flex items-center gap-2">
            <IconComponent type="filter" size="16"></IconComponent> <span class="lg:hidden">Filtre</span></span
         >
      </button>
      <article
         v-if="show"
         @mouseleave="show = false"
         :class="type == 'filter' ? 'w-40' : ''"
         class="z-10 right-0 absolute bg-mywhite rounded text-mydarkgrey drop-shadow-xl px-4 py-2"
      >
         <form @submit.prevent="">
            <ul class="mb-0 p-0 text-left" v-if="type == 'action'">
               <li class="py-1">
                  <button type="button" class="hover:text-myblack hover:font-semibold flex gap-2 items-center" @click="$emit('project:select')">
                     <IconComponent type="info" size="16"></IconComponent> Informations
                  </button>
               </li>
               <li v-if="is_admin && edit" class="py-1">
                  <button type="button" class="hover:text-myblack hover:font-semibold flex gap-2 items-center" @click="$emit('project:edit')">
                     <IconComponent type="edit" size="16"></IconComponent> Éditer
                  </button>
               </li>
               <li v-if="look" class="py-1">
                  <button type="button" class="hover:text-myblack hover:font-semibold flex gap-2 items-center" @click="$emit('project:show')">
                     <IconComponent type="show" size="16"></IconComponent> Consulter
                  </button>
               </li>
               <li v-if="download" class="py-1">
                  <button type="button" class="hover:text-myblack hover:font-semibold flex gap-2 items-center" @click="$emit('project:download')">
                     <IconComponent type="download" size="16"></IconComponent> Télécharger
                  </button>
               </li>
               <li v-if="validation" class="py-1 text-mygreen">
                  <button @click="$emit('validation')" class="hover:font-semibold flex gap-2 items-center">
                     <IconComponent type="check" size="16" color="mygreen"></IconComponent> Valider
                  </button>
               </li>
               <li v-if="is_admin" class="py-1 text-myred">
                  <button @click="$emit('destroy')" type="button" class="hover:font-semibold flex gap-2 items-center">
                     <IconComponent type="trash" color="myred" size="16"></IconComponent> Supprimer
                  </button>
               </li>
            </ul>
            <!-- FILTER -->
            <ul class="mb-0 p-0 text-left" v-if="type == 'filter'">
               <li class="py-1">
                  <button
                     type="button"
                     :class="order.by == 'id' ? 'font-semibold text-myblack' : ''"
                     class="hover:text-myblack hover:font-semibold flex gap-2 items-center"
                     @click="$emit('order:update', { by: 'id', type: order.type == 'DESC' ? 'ASC' : 'DESC' })"
                  >
                     N° de dossier
                     <IconComponent v-if="order.by == 'id' && order.type == 'DESC'" type="arrow_down" size="16"></IconComponent>
                     <IconComponent v-if="order.by == 'id' && order.type == 'ASC'" type="arrow_up" size="16"></IconComponent>
                  </button>
               </li>
               <li class="py-1">
                  <button
                     type="button"
                     :class="order.by == 'amount_ttc' && order.type == 'DESC' ? 'font-semibold text-myblack' : ''"
                     class="hover:text-myblack hover:font-semibold flex gap-2 items-center"
                     @click="$emit('order:update', { by: 'amount_ttc', type: order.type == 'DESC' ? 'ASC' : 'DESC' })"
                  >
                     Créance
                     <IconComponent v-if="order.by == 'amount_ttc' && order.type == 'DESC'" type="arrow_down" size="16"></IconComponent>
                     <IconComponent v-if="order.by == 'amount_ttc' && order.type == 'ASC'" type="arrow_up" size="16"></IconComponent>
                  </button>
               </li>
            </ul>
         </form>
      </article>
   </section>
</template>

<script>
import IconComponent from "./IconComponent.vue";
export default {
   props: {
      type: { required: true },
      order: { required: false },
      is_admin: { default: true },
      validation: { default: false },
      download: { default: false },
      look: { default: false },
      border: { default: true },
      edit: { default: false },
   },
   components: { IconComponent },
   data() {
      return {
         show: false,
      };
   },
};
</script>
