<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-40 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <div class="z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-600">
         <DialogTitle class="flex items-center gap-2"><IconComponent type="export"></IconComponent> EXPORT MENSUEL</DialogTitle>

         <form class="input-form pb-4" method="post" action="/api/projects/export">
            <input type="hidden" name="_token" v-bind:value="csrf" />
            <div>
               <label class="block mylabel" for="month">Mois</label>
               <div class="flex gap-2">
                  <input class="myinput" type="month" name="date" v-model="form.month" id="month" />
                  <button class="btn btn-primary w-28">Exporter</button>
               </div>
            </div>
         </form>

         <section class="flex justify-end">
            <button
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
         </section>
      </div>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "./IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      show: { required: true },
   },
   components: { Dialog, DialogOverlay, DialogTitle, DialogDescription, IconComponent },
   data() {
      return {
         isOpen: this.show,
         moment: moment.locale("fr"),
         form: {
            month: moment().format("YYYY-MM"),
         },
         csrf: document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
      };
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
      async exportProjects() {
         try {
            let result = axios.post("/api/projects/export", { date: this.form.month });
         } catch (err) {
            console.log(err);
         }
      },
   },
};
</script>

<style></style>
