<template>
   <li class="flex flex-col rounded-lg my-2 border-2" :class="active ? 'border-2 border-myprimary' : ''">
      <div
         class="flex justify-between rounded items-center py-1 px-2"
         :class="active && file_type == '2' ? 'bg-myprimary !rounded-b-none' : active ? 'bg-myprimary' : ''"
      >
         <p v-if="!edit" :class="active ? 'text-mywhite' : ''" class="cursor-pointer font-bold" @click="$emit('select:file')">{{ file_name }}</p>
         <input v-else type="text" v-model.lazy="file_name" class="myinput !bg-mywhite" id="" />
         <div class="flex gap-2 items-center">
            <select v-model="file_type" class="myinput !bg-mywhite !w-48 !py-1.5" @change="$emit('update:file', file_type)">
               <option disabled value="">Type de fichier</option>
               <option value="1">Fichier</option>
               <option value="2">Facture</option>
            </select>
            <div class="w-24">
               <button v-if="edit" type="button" class="w-8" @click="edit = false">
                  <IconComponent type="update" size="16" :color="active ? 'white' : 'black'"></IconComponent>
               </button>
               <button v-if="!edit" type="button" class="w-8" @click="edit = true">
                  <IconComponent type="edit" size="16" :color="active ? 'white' : 'black'"></IconComponent>
               </button>
               <button type="button" class="w-8" @click="$emit('select:file')">
                  <IconComponent type="show" size="16" :color="active ? 'white' : 'black'"></IconComponent>
               </button>
               <button type="button" class="w-8" @click="$emit('remove:file')" title="Remove file">
                  <IconComponent type="trash" color="myred" size="16"></IconComponent>
               </button>
            </div>
         </div>
      </div>
      <div v-if="file_type == '2'" class="mb-2 px-2">
         <div>
            <label class="mylabel" for="bill_title">Titre facture</label>
            <input v-model.lazy="bill.title" class="myinput !bg-mywhite" type="text" name="" id="bill_title" />
         </div>
         <div class="flex gap-2 items-center">
            <div>
               <label class="mylabel" for="bill_date">Date</label>
               <input v-model.lazy="bill.date" class="myinput !bg-mywhite" type="date" name="" id="bill_date" />
            </div>
            <div>
               <label class="mylabel" for="bill_id">N° facture</label>
               <input v-model.lazy="bill.id" class="myinput !bg-mywhite" type="text" name="" id="bill_id" />
            </div>
            <div>
               <label class="mylabel" for="bill_amount_ttc">Montant</label>
               <div class="flex gap-2">
                  <span class="bg-myprimary rounded px-6 text-mywhite text-lg text-center w-20 flex items-center justify-center">€</span>
                  <input v-model.lazy="bill.amount_ttc" placeholder="0,00" type="number" class="myinput !py-1 !bg-mywhite" id="bill_amount_ttc" step="0.01" min="0" />
               </div>
            </div>
            <div>
               <label class="mylabel" for="bill_paid">Payé</label>
               <div class="flex gap-2">
                  <span class="bg-myprimary rounded px-6 text-mywhite text-lg text-center w-20 flex items-center justify-center">€</span>
                  <input v-model.lazy="bill.paid" placeholder="0,00" type="number" class="myinput !py-1 !bg-mywhite" id="bill_paid" step="0.01" min="0" />
               </div>
            </div>
         </div>
      </div>
   </li>
</template>

<script>
export default {
   props: {
      file: { required: true },
      active: { default: false },
   },
   data() {
      return {
         file_type: "1",
         edit: false,
         file_name: this.file.file.name,
         bill: {
            title: "",
            date: "",
            id: "",
            amount_ttc: 0,
            paid: 0,
         },
      };
   },
   watch: {
      file_name() {
         this.$emit("update:file_name", this.file_name);
      },
      bill: {
         handler(newVal, oldVal) {
            this.$emit("update:bill", newVal);
         },
         deep: true,
      },
   },
};
</script>

<style></style>
