<template>
   <div class="relative">
      <button
         id="avatarButton"
         type="button"
         @click="show = !show"
         data-dropdown-toggle="userDropdown"
         data-dropdown-placement="bottom-start"
         class="ring-2 ring-mygrey2 inline-flex overflow-hidden justify-center items-center w-10 h-10 bg-mygrey rounded-full dark:bg-gray-600"
      >
         <span class="font-bold text-xs text-myprimary">{{
            user.first_name[0].toUpperCase() + user.first_name[1].toUpperCase() + user.last_name[0].toUpperCase()
         }}</span>
      </button>
      <span
         v-if="notification_count > 0"
         class="absolute top-1 left-7 transform -translate-y-1/2 w-3.5 h-3.5 bg-myred border-2 border-white rounded-full"
      ></span>

      <!-- Dropdown menu -->
      <div v-if="show" id="userDropdown" class="absolute right-0 top-14 z-10 w-44 lg:w-60 bg-white rounded divide-y divide-gray-100 shadow">
         <div class="py-3 px-4 text-sm w-full">
            <div>
               <span class="font-bold">{{ user.last_name.toUpperCase() }}</span> {{ user.first_name }}
            </div>
            <div class="text-xs truncate">{{ user.email }}</div>
         </div>
         <ul class="py-1 text-sm" aria-labelledby="avatarButton">
            <li>
               <a href="#" class="block py-2 px-4 hover:bg-gray-100 no-underline">Tableau de bord ({{ notification_count }})</a>
            </li>
            <li>
               <a href="#" class="block py-2 px-4 hover:bg-gray-100 no-underline">Paramètres</a>
            </li>
         </ul>
         <form class="py-1 w-full hover:bg-mygrey3" action="/logout" method="post">
            <input type="hidden" name="_token" v-bind:value="csrf" />
            <button class="py-2 px-4 text-sm flex items-center gap-2 no-underline"><IconComponent type="logout"></IconComponent> Se déconnecter</button>
         </form>
      </div>
   </div>
</template>

<script>
export default {
   props: {
      user: {
         required: true,
      },
      notification_count: {
         default: 0,
      },
   },
   data() {
      return {
         show: false,
         csrf: document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
      };
   },
};
</script>

<style></style>
