<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-40 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <div class="z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-600">
         <DialogTitle class="flex items-center gap-2"><IconComponent type="info"></IconComponent> INFORMATIONS</DialogTitle>

         <section class="py-10 px-8 flex flex-col gap-4">
            <article>
               <p>Créé le <span v-html="formatedDate(data.created_at)"></span></p>
               <p class="text-mydarkgrey">
                  par <b>{{ data.created_by.first_name }} {{ data.created_by.last_name[0] }}.</b>
               </p>
            </article>
            <article>
               <p>Édité le <span v-html="formatedDate(data.updated_at)"></span></p>
               <p class="text-mydarkgrey">
                  par <b>{{ data.updated_by.first_name }} {{ data.updated_by.last_name[0] }}.</b>
               </p>
            </article>
         </section>

         <section class="flex justify-end">
            <button
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
         </section>
      </div>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "./IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      data: { required: true },
      show: { required: true },
   },
   components: { Dialog, DialogOverlay, DialogTitle, DialogDescription, IconComponent },
   data() {
      return {
         isOpen: this.show,
         moment: moment.locale("fr"),
      };
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
   },
};
</script>
