<template>
   <section class="z-10 mx-4 w-300 -top-4 text-xs left-0 absolute bg-mywhite rounded text-mydarkgrey drop-shadow-xl px-4 py-2 text-left">
      <template v-if="step">
         <h5 class="text-myprimary text-sm">{{ step.name }}</h5>
         <hr class="my-1" />
         <p>Créé le <span v-html="formatedDate(step.step.created_at)"></span></p>
      </template>
   </section>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      step: { required: false },
   },
   data() {
      return {
         moment: moment.locale("fr"),
      };
   },
   methods: {
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
   },
};
</script>

<style></style>
