<template>
   <form class="w-full flex-1 flex items-center gap-3" @submit.prevent="$emit('submit:search', pattern)">
      <div class="w-full relative text-gray-600 focus-within:text-gray-400">
         <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
               <IconComponent type="search" size="16"></IconComponent>
            </button>
         </span>
         <input
            v-model="pattern"
            type="search"
            name="q"
            class="xl:w-96 w-full py-2 text-sm bg-mygrey3 rounded-md pl-10 focus:outline-none focus:text-gray-900"
            placeholder="Rechercher un dossier..."
            autocomplete="off"
         />
      </div>
   </form>
</template>

<script>
export default {
   data() {
      return {
         pattern: "",
      };
   },
};
</script>

<style></style>
