<template>
   <!-- On inverse de type de tri -->
   <div class="flex items-center justify-center">
      <button class="text-center flex items-center gap-1" @click="updateOrderType()">
         {{ types[type].name }}
         <div>
            <template v-if="is_order && order_status.by == type">
               <IconComponent v-if="order_type == 'ASC'" type="arrow_up" size="16"></IconComponent
               ><IconComponent v-else type="arrow_down" size="16"></IconComponent>
            </template>
         </div>
      </button>
   </div>
</template>

<script>
import IconComponentVue from "./IconComponent.vue";
export default {
   props: { type: { default: "" }, order_status: { requried: true } },
   components: { IconComponentVue },
   data() {
      return {
         is_order: false,
         order_type: "DESC",
         types: {
            id: { name: "N° Dossier", field: "id" },
            amount_ttc: { name: "Créance", field: "amount_ttc" },
         },
      };
   },
   methods: {
      updateOrderType() {
         if (!this.is_order) {
            this.is_order = true;
         } else {
            if (this.order_type == "ASC") {
               this.$emit("order_type:update", "DESC");
               this.order_type = "DESC";
            } else {
               this.$emit("order_type:update", "ASC");
               this.order_type = "ASC";
            }
         }
      },
   },
};
</script>

<style></style>
