<template>
   <section class="flex" :class="position == 'center' ? 'justify-center' : ''">
      <article class="flex flex-col items-center text-sm text-mydarkgrey">
         <div v-if="show_loading" :class="'w-' + (size + 4) + ' h-' + (size + 4)" class="flex justify-center items-center">
            <!-- Outer Ring-->
            <div :class="'w-' + size + ' h-' + size" class="rounded-full absolute border-2 border-solid border-gray-200"></div>

            <!-- Inner Ring -->
            <div
               :class="'w-' + size + ' h-' + size"
               class="rounded-full animate-spin absolute border-2 border-solid border-myprimary border-t-transparent"
            ></div>
         </div>
         <p v-if="show_text" class="mt-2">Un instant... <EmojiComponent type="rocket" size="18"></EmojiComponent></p>
      </article>
   </section>
</template>

<script>
import EmojiComponent from "./EmojiComponent.vue";
export default {
   props: {
      position: { default: "center" },
      show_text: { default: true },
      show_loading: { default: true },
      size: { default: 12 },
   },
   components: { EmojiComponent },
};
</script>

<style></style>
