<template>
   <div class="flex items-center gap-1" :class="reverse ? 'flex-row-reverse' : ''">
      <label for="small-toggle" class="inline-flex relative items-center cursor-pointer">
         <input type="checkbox" value="" id="small-toggle" class="sr-only peer" v-model="selected" />
         <div
            class="w-9 h-5 bg-mygrey2 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-mywhite after:border-mygrey2 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-myprimary"
         ></div>
      </label>
      <span class="ml-2 text-xs text-mydarkgrey">{{ text }}</span>
   </div>
</template>

<script>
export default {
   props: {
      text: {
         default: "",
      },
      reverse: {
         default: false,
      },
   },
   watch: {
      selected() {
         this.$emit("input:update", this.selected);
      },
   },
   data() {
      return {
         selected: false,
      };
   },
};
</script>

<style></style>
