<template>
   <section class="bg-mygrey3 w-full 2xl:w-600 2xl:h-800 p-8 rounded-lg">
      <article class="mb-4">
         <header class="flex justify-between items-center mb-1">
            <h5 class="text-sm uppercase font-bold">Informations</h5>
            <slot v-if="!edit_tmp && !loading" name="dropdown"></slot>
            <button v-if="edit_tmp && !loading" type="button" @click="$emit('edit:save', form)">
               <IconComponent type="update" size="20"></IconComponent>
            </button>
            <SpinnerComponent v-if="loading" :show_text="false" :size="5"></SpinnerComponent>
         </header>
         <form @submit.prevent="$emit('edit:save', form)" class="bg-mygrey p-4 flex flex-col gap-2 rounded">
            <article class="flex items-center gap-4">
               <IconComponent type="project_close" size="20"></IconComponent>
               <a class="links-infos" :href="'mailto:' + form.email" v-if="!edit_tmp && form.email">{{ form.email }}</a>
               <span v-if="!form.email && !edit_tmp" class="text-mydarkgrey text-sm">Non renseignée</span>
               <input v-model="form.email" :disabled="loading" v-if="edit_tmp" type="email" class="myinput w-full" placeholder="Adresse email" />
            </article>
            <article class="flex items-center gap-4">
               <IconComponent type="phone" size="20"></IconComponent>
               <a class="links-infos" :href="'tel:' + form.phone_number" v-if="!edit_tmp && form.phone_number">{{ phone_number_format }}</a>
               <span v-if="!form.phone_number && !edit_tmp" class="text-mydarkgrey text-sm">Non renseignée</span>
               <input
                  maxlength="14"
                  v-model="phone_number"
                  :disabled="loading"
                  v-if="edit_tmp"
                  type="tel"
                  class="myinput w-full"
                  placeholder="Numéro de tel."
               />
            </article>
            <article class="flex items-center gap-4">
               <IconComponent type="home_outline" size="20"></IconComponent>
               <address class="not-italic" v-if="(form.address || form.postcode || form.city) && !edit">
                  {{ form.address }},<br />
                  {{ form.postcode }},
                  {{ form.city }}
               </address>
               <span v-if="!form.address && !form.postcode && !form.city && !edit" class="text-mydarkgrey text-sm">Non renseignée</span>
               <div v-if="edit_tmp" class="w-full">
                  <input :disabled="loading" v-model="form.address" type="text" class="myinput w-full" placeholder="Adresse" />
                  <div class="flex gap-2 mt-2 w-full">
                     <input maxlength="5" :disabled="loading" v-model="form.postcode" type="text" class="myinput w-32" placeholder="Code postal" />
                     <input :disabled="loading" v-model="form.city" type="text" class="myinput flex-1" placeholder="Ville" />
                  </div>
               </div>
            </article>
         </form>
      </article>
      <article>
         <header class="flex justify-between items-center mb-1">
            <h5 class="text-sm uppercase font-bold">Contrat de mandat ({{ contracts ? contracts.length : 0 }})</h5>
            <div class="flex items-center">
               <IconComponent
                  :type="contracts?.length > 0 ? 'success' : 'close'"
                  size="20"
                  :color="contracts?.length > 0 ? 'mygreen' : 'myred'"
               ></IconComponent>
               <div class="flex">
                  <label for="contract" class="hover:bg-mygrey2 rounded p-2"><IconComponent type="add" size="20"></IconComponent></label>
                  <input
                     class="hidden"
                     type="file"
                     name="contract"
                     id="contract"
                     accept="application/pdf,application/vnd.ms-excel"
                     @change="onFileChange($event)"
                  />
                  <button
                     :disabled="loading"
                     type="button"
                     v-if="contracts?.length > 0"
                     @click="show_contracts = !show_contracts"
                     class="hover:bg-mygrey2 rounded p-2"
                  >
                     <IconComponent :type="show_contracts ? 'big_down' : 'big_up'" size="20"></IconComponent>
                  </button>
               </div>
            </div>
         </header>
         <article v-if="show_contracts" class="bg-mygrey p-4 rounded">
            <div class="text-sm flex justify-between items-center" v-for="(contract, index) in contracts" :key="'contract_' + index">
               <p class="text-sm">Contrat - {{ moment(contract.created_at).format("MM/YYYY") }}</p>
               <div class="flex gap-2">
                  <slot name="dropdownMandat" :contract="contract"></slot>
               </div>
            </div>
         </article>
      </article>
   </section>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      is_admin: {
         default: false,
      },
      client: {
         required: true,
      },
      edit: {
         default: false,
      },
      loading: {
         default: false,
      },
      contracts: {
         required: true,
      },
   },
   data() {
      return {
         moment: moment,
         form: {
            email: this.client?.email,
            phone_number: this.client?.phone_number,
            address: this.client?.address,
            postcode: this.client?.postcode,
            city: this.client?.city,
         },
         phone_number_format: null,
         show_contracts: false,
      };
   },
   computed: {
      edit_tmp() {
         return this.edit;
      },
      phone_number: {
         get() {
            return this.phone_number_format;
         },
         set(newvalue) {
            this.form.phone_number = newvalue.replace(/\s/g, "");
            this.phone_number_format = newvalue
               .replace(/[^\dA-Z]/g, "")
               .replace(/(.{2})/g, "$1 ")
               .trim();
         },
      },
   },
   watch: {
      client: {
         handler: function (newvalue) {
            this.form = {
               email: newvalue?.email,
               phone_number: newvalue?.phone_number,
               address: newvalue?.address,
               postcode: newvalue?.postcode,
               city: newvalue?.city,
            };
            if (newvalue?.phone_number)
               this.phone_number_format = newvalue.phone_number
                  ?.replace(/[^\dA-Z]/g, "")
                  .replace(/(.{2})/g, "$1 ")
                  .trim();
         },
         deep: true,
      },
   },
   methods: {
      onFileChange: function (e) {
         var files = e.target.files || e.dataTransfer.files;
         if (!files.length) return;
         this.$emit("contract:store", files[0]);
      },
   },
};
</script>

<style>
.links-infos {
   color: #286bee;
   font-weight: bold;
   font-size: 18px;
   text-decoration: none;
}
</style>
