<template>
   <section>
      <AlertComponent v-if="page.error || page.success" :type="page.error ? 'danger' : 'success'" :status="page.status"></AlertComponent>
      <section class="flex flex-col 2xl:flex-row xl:justify-between py-4 mt-3 gap-8">
         <section class="flex-1 overflow-y-scroll h-800">
            <div v-show="page.loading" class="h-800 flex items-center justify-center">
               <SpinnerComponent></SpinnerComponent>
            </div>
            <div v-show="!page.loading">
               <header class="flex flex-col lg:flex-row items-center lg:justify-between">
                  <h1>{{ client.data?.name.toUpperCase() }}</h1>
                  <DatePickerComponent
                     :date="date_picker.date"
                     :reverse="true"
                     :show_picker="date_picker.show"
                     :date_ignore="date_picker.ignore"
                     @date:ignore="
                        date_picker.ignore = $event;
                        loadClient();
                     "
                     @date:show="date_picker.show = $event"
                     @date:update="
                        date_picker.date = $event;
                        loadClient();
                     "
                  ></DatePickerComponent>
               </header>
               <!-- BODY -->
               <section class="flex flex-col gap-6">
                  <section class="flex-1 flex justify-between flex-wrap">
                     <CardComponent title="Montant engagé" icon="money_bag" :value="'€' + (client.data?.incomesPendingTTC / 100).toFixed(2)"></CardComponent>
                     <CardComponent
                        title="Montant complementaire"
                        icon="money_bag"
                        :value="'€' + (client.data?.incomesComplementaryTTC / 100).toFixed(2)"
                     ></CardComponent>
                     <CardComponent title="Total  en cours" icon="project_open" :value="client.data?.totalProjectsPending"></CardComponent>
                     <CardComponent title="Total facturés" icon="project_close" :value="client.data?.totalProjectsBilled"></CardComponent>
                  </section>
                  <section class="flex-1 flex flex-col 2xl:flex-row gap-4 h-48">
                     <section class="flex flex-col gap-4 w-full 2xl:w-300">
                        <article class="bg-mygrey3 rounded-lg p-4 flex-1">
                           <header>
                              <h2 class="text-lg">Total de factures</h2>
                           </header>
                           <div>
                              <h1>{{ client.data?.client_bills.length }}</h1>
                           </div>
                        </article>
                        <article class="bg-mygrey3 rounded-lg p-4 flex-1">
                           <!--  <header>
                              <h2 class="text-lg">Total de factures</h2>
                           </header>
                           <div>
                              <h1>10</h1>
                           </div> -->
                        </article>
                     </section>
                     <article class="flex-1 h-60 bg-mygrey3 rounded-lg p-4">
                        <header class="flex items-center gap-2">
                           <button @click="view_all = !view_all"><IconComponent type="left" size="14"></IconComponent></button>
                           <h2 class="text-lg w-36">{{ view_all ? "Revenus engagés" : "Revenus facturés" }}</h2>
                           <button @click="view_all = !view_all"><IconComponent type="right" size="14"></IconComponent></button>
                        </header>
                        <div id="chart">
                           <apexchart v-if="!page.loading" type="area" height="200" :options="chartOptions" :series="mySeries"></apexchart>
                        </div>
                     </article>
                  </section>
                  <section>
                     <header>
                        <h2 class="text-lg">
                           Factures récentes ({{ client.data || client.data?.client_bills.length == 0 ? 0 : client.data?.client_bills.length }})
                        </h2>
                     </header>
                     <table class="w-full border-collapse table-fixed text-center">
                        <thead>
                           <th class="py-3 font-light">N° Facture</th>
                           <th class="py-3 font-light">N° Cegid</th>
                           <th class="py-3 font-light">Date</th>
                           <th class="py-3 font-light">Montant HT</th>
                           <th class="py-3 font-light">Montant TTC</th>
                           <th class="py-3 font-light w-14">Action</th>
                        </thead>
                        <tbody class="mystriped">
                           <template v-if="!client.data || client.data?.client_bills.length == 0">
                              <tr>
                                 <td colspan="6" class="text-sm text-mydarkgrey">Aucune factures</td>
                              </tr>
                           </template>
                           <template v-else>
                              <ClientBillsRowComponent v-for="(bill, index) in client.data?.client_bills" :key="index + '_clientBill'" :bill="bill">
                                 <DropdownComponent
                                    type="action"
                                    :look="true"
                                    :download="true"
                                    :is_admin="is_admin"
                                    @project:select="
                                       infos.data = bill;
                                       infos.show = true;
                                    "
                                    @destroy="loadClient('client_bills:destroy', bill.id)"
                                    @project:show="openTab('/api/client_bills/' + bill.id)"
                                    @project:download="openTab('/api/client_bills/' + bill.id + '/download')"
                                 ></DropdownComponent>
                              </ClientBillsRowComponent>
                           </template>
                        </tbody>
                     </table>
                  </section>
               </section>
            </div>
         </section>
         <ClientInfosComponent
            :is_admin="is_admin"
            :contracts="client.data?.contracts"
            :client="client.data"
            :edit="client.edit"
            :loading="client.loading"
            @edit:save="loadClient('update', $event)"
            @contract:store="loadClient('contract:store', $event)"
         >
            <template v-slot:dropdown>
               <DropdownComponent
                  type="action"
                  :is_admin="is_admin"
                  :border="false"
                  :edit="true"
                  @project:edit="client.edit = true"
                  @destroy="loadClient('delete')"
                  @project:select="
                     infos.data = client.data;
                     infos.show = true;
                  "
               ></DropdownComponent>
            </template>
            <template v-slot:dropdownMandat="slotProps">
               <DropdownComponent
                  type="action"
                  :border="false"
                  :look="true"
                  :download="true"
                  :is_admin="is_admin"
                  @project:show="openTab(`/api/contracts/${slotProps.contract.id}`)"
                  @project:download="openTab(`/api/contracts/${slotProps.contract.id}/download`)"
                  @destroy="loadClient('contract:destroy', $event)"
               ></DropdownComponent>
            </template>
         </ClientInfosComponent>
      </section>
      <InfosModaleComponent :data="infos.data" :show="infos.show" @close="infos.show = false"></InfosModaleComponent>
   </section>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
import SpinnerComponent from "../../layouts/SpinnerComponent.vue";
import CardComponent from "../../layouts/CardComponent.vue";
import ClientInfosComponent from "./ClientInfosComponent.vue";
import DatePickerComponent from "../../layouts/DatePickerComponent.vue";
export default {
   props: {
      client_id: { required: true },
      user_role: { required: true },
   },
   data() {
      return {
         moment: moment,
         page: {
            loading: true,
            error: false,
            success: false,
            status: null,
         },
         view_all: true,
         date_picker: {
            show: false,
            ignore: false,
            date: {
               start: moment().startOf("month"),
               end: moment().endOf("month"),
            },
         },
         client: {
            data: null,
            contracts: [],
            edit: false,
            loading: false,
            /* has_contract: false, */
         },
         infos: {
            data: null,
            show: false,
         },
         series: [
            {
               name: "Frais engagés",
               data: [],
            },
            {
               name: "Frais Complémentaires",
               data: [],
            },
            {
               name: "Frais engagés en cours",
               data: [],
            },
            {
               name: "Montant Facturé en cours",
               data: [],
            },
         ],

         chartOptions: {
            colors: ["#286BEE", "#0acf83"],
            chart: {
               height: 350,
               type: "area",
            },
            dataLabels: {
               enabled: false,
            },
            stroke: {
               curve: "smooth",
            },
            xaxis: {
               type: "datetime",
               categories: [],
            },
            tooltip: {
               x: {
                  format: "dd/MM/yy HH:mm",
               },
            },
         },
      };
   },
   computed: {
      is_admin() {
         return this.user_role === "Admin";
      },
      mySeries() {
         return this.view_all ? this.series.slice(0, 2) : this.series.slice(2, 4);
      },
   },
   mounted() {
      this.loadClient("get");
   },
   methods: {
      async loadClient(type = "get", data = null) {
         this.page.error = false;
         this.page.success = false;
         let result = null;
         if (type == "update") {
            this.client.loading = true;
         } else {
            this.page.loading = true;
         }
         try {
            if (type == "get") {
               result = await axios.get(
                  `/api/clients/${this.client_id}?client_bill&contracts&date_start=${moment(this.date_picker.date.start).format(
                     "YYYY-MM-DD"
                  )}&date_end=${moment(this.date_picker.date.end).format("YYYY-MM-DD")}${this.date_picker.ignore ? "&date_ignore" : ""}`
               );
               this.client.data = result.data;
               this.chartOptions.xaxis.categories = result.data.dateInterval;
               this.series[0].data = result.data.totalEngagedFeesInterval.map((item) => Math.round(item) / 100);
               this.series[1].data = result.data.totalComplementatyFeesInterval.map((item) => Math.round(item) / 100);
               this.series[2].data = result.data.totalEngagedFeesPendingInterval.map((item) => Math.round(item) / 100);
               this.series[3].data = result.data.totalBilledPendingInterval.map((item) => Math.round(item) / 100);
            }
            if (type == "delete") {
               /* result = await axios.get(`/api/clients/${this.client_id}?client_bill`);
               this.client.data = result.data; */
            }
            if (type == "update") {
               result = await axios.patch(`/api/clients/${this.client_id}`, { form: data });
               this.client.loading = false;
               this.client.edit = false;
               this.page.success = true;
            }
            if (type == "contract:store") {
               let formData = new FormData();
               formData.append("contract", data);
               formData.append("client_id", this.client_id);
               result = await axios.post(`/api/contracts`, formData);
               this.client.data.contracts.push(result.data);
               this.page.success = true;
            } else if (type == "contract:destroy") {
               result = await axios.delete(`/api/contracts/${data}`);
               this.loadClient();
               this.page.success = true;
            } else if (type == "client_bills:destroy") {
               result = await axios.delete(`/api/client_bills/${data}`);
               this.loadClient();
               this.page.success = true;
            }
         } catch (error) {
            result = error.response;
            console.error(error);
            this.page.error = true;
         } finally {
            this.page.status = result.status;
            this.page.loading = false;
         }
      },
      openTab(link) {
         window.open(link, "_blank");
      },
   },
   components: { SpinnerComponent, CardComponent, ClientInfosComponent, DatePickerComponent },
};
</script>

<style></style>
