<template>
   <tr>
      <td class="py-3">
         <p class="text-myprimary font-bold">N°{{ bill.id }}</p>
      </td>
      <td class="py-3">N°{{ bill.cegid_id }}</td>
      <td class="py-3">{{ moment(bill.date).format("ddd DD MMM") }}</td>
      <td class="py-3 font-bold">€{{ (bill.amount_ht / 100).toFixed(2) }}</td>
      <td class="py-3 font-bold">€{{ (bill.amount_ttc / 100).toFixed(2) }}</td>
      <td class="py-3">
         <div class="flex justify-center">
            <slot></slot>
         </div>
      </td>
   </tr>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      bill: {
         required: true,
      },
   },
   data() {
      return {
         moment: moment,
      };
   },
};
</script>

<style></style>
