<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-30 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <div class="z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-1500">
         <DialogTitle class="flex items-center gap-1">
            <div class="w-full flex justify-between items-center">
               <div>
                  <IconComponent type="shop"></IconComponent> ENCAISSEMENTS
                  <button class="btn no-underline text-myblack" @click="show_new = true">
                     <span class="flex items-center gap-1 hover:font-bold text-sm font-normal"
                        ><IconComponent type="add" size="16"></IconComponent>Nouveau</span
                     >
                  </button>
               </div>
               <div>
                  <p class="text-sm">
                     Total client perçu:
                     <span class="text-myprimary font-bold text-right">€ {{ validatedBills }}</span>
                  </p>
                  <p class="text-sm">
                     Restant dû au client :
                     <span class="text-mydarkgrey font-bold text-right">€ {{ totalBills - validatedBills }}</span>
                  </p>
                  <p class="text-sm">
                     Total commission:
                     <span class="text-myprimary font-bold text-right">€ {{ totalCommission }}</span>
                  </p>
               </div>
            </div>
         </DialogTitle>
         <AlertComponent v-if="bills.error || bills.success" :type="bills.error ? 'danger' : 'success'" :status="bills.status"></AlertComponent>
         <article v-if="bills.loading" class="w-full h-400 flex justify-center items-center">
            <SpinnerComponent></SpinnerComponent>
         </article>
         <section v-else class="my-10 text-sm px-2">
            <div v-if="!bills.data || bills.data.lenght == 0" class="flex flex-col justify-center items-center gap-2 py-4 h-56">
               <p class="text-mydarkgrey font-medium text-sm">Aucun encaissement...</p>
            </div>
            <form v-else @submit.prevent="updateBills('new')">
               <table class="w-full border-collapse table-fixed text-center">
                  <thead>
                     <tr class="">
                        <th class="py-3 font-light w-48">Type</th>
                        <th class="py-3 font-light w-38">Paiement</th>
                        <th class="py-3 font-light w-30">Date</th>
                        <th class="py-3 font-light w-30">Montant (TTC)</th>
                        <th class="py-3 font-light">Jours restants</th>
                        <th class="py-3 font-light w-20">Action</th>
                     </tr>
                  </thead>
                  <tbody class="mystriped">
                     <BillsNewRowComponent :project_amount_ttc="project_amount_ttc" v-if="show_new" @create:bill="new_bill = $event"></BillsNewRowComponent>
                     <BillRowComponent v-for="(bill, index) in bills.data" :bill="bill" :key="'bill_row_' + index" :is_admin="is_admin">
                        <template v-slot:dropdown>
                           <DropdownComponent
                              type="action"
                              :validation="bill.status == 0"
                              @project:select="
                                 bill_infos.bill = bill;
                                 bill_infos.show = true;
                              "
                              :is_admin="is_admin"
                              @destroy="updateBills('destroy', bill.id)"
                              @validation="
                                 bill_infos.validation_show = true;
                                 bill_tmp = bill.id;
                              "
                           ></DropdownComponent>
                        </template>
                     </BillRowComponent>
                  </tbody>
               </table>
            </form>
         </section>

         <section class="flex justify-end">
            <button
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
         </section>
      </div>
      <InfosModaleComponent :data="bill_infos.bill" :show="bill_infos.show" @close="bill_infos.show = false"></InfosModaleComponent>
      <BillsValidationModale
         @validate="updateBills('validate', $event)"
         :show="bill_infos.validation_show"
         @close="bill_infos.validation_show = false"
      ></BillsValidationModale>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "../../../layouts/IconComponent.vue";
import AlertComponent from "../../../layouts/AlertComponent.vue";
import SpinnerComponent from "../../../layouts/SpinnerComponent.vue";
import DropdownComponent from "../../../layouts/DropdownComponent.vue";
import moment from "moment";
import "moment/locale/fr";
import BillRowComponent from "./BillRowComponent.vue";
import BillsNewRowComponent from "./BillsNewRowComponent.vue";
import BillsValidationModale from "./BillsValidationModale.vue";
export default {
   props: {
      project_id: {
         required: true,
      },
      show: { required: true },
      is_admin: { default: true },
      project_amount_ttc: {
         required: true,
      },
   },
   components: {
      Dialog,
      DialogOverlay,
      DialogTitle,
      DialogDescription,
      IconComponent,
      BillRowComponent,
      SpinnerComponent,
      AlertComponent,
      BillsNewRowComponent,
      DropdownComponent,
      BillsValidationModale,
   },
   data() {
      return {
         show_new: false,
         bills: {
            loading: false,
            data: null,
            status: null,
            error: false,
            success: false,
         },
         isOpen: this.show,
         moment: moment.locale("fr"),
         bill_infos: {
            bill: null,
            show: false,
            validation_show: false,
         },
         new_bill: null,
         bill_tmp: null,
      };
   },
   computed: {
      totalCommission() {
         if (this.bills.data) {
            if (this.totalBills <= this.project_amount_ttc) {
               return this.totalBills * 1.2;
            } else {
               return this.project_amount_ttc * 1.2;
            }
         }
         return 0;
      },
      totalBills() {
         return (
            this.bills.data.reduce((acc, curr) => {
               return (acc = acc + curr.billing_amount_ttc);
            }, 0) / 100
         ).toFixed(2);
      },
      validatedBills() {
         return (
            this.bills.data
               .filter((el) => el.status == "1")
               .reduce((acc, curr) => {
                  return (acc = acc + curr.billing_amount_ttc);
               }, 0) / 100
         ).toFixed(2);
      },
   },
   mounted() {
      this.updateBills();
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
      bill_selected() {
         if (this.bill_selected) {
            /* this.setIsOpen(false); */
            this.$emit("bill:selected", this.bill_selected);
         }
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
      async updateBills(type = "all", data = null) {
         this.bills.loading = true;
         this.bills.error = false;
         /* this.bills.success = this.bills.success; */
         let result = null;
         try {
            if (type == "all") {
               result = await axios.get(`/api/bills?project_id=${this.project_id}&creators`);
               this.bills.data = result.data;
            } else if (type == "new") {
               result = await axios.patch(`/api/bills`, { form: this.new_bill, project_id: this.project_id });
               this.bills.success = true;
               this.show_new = false;
               this.updateBills();
            } else if (type == "destroy") {
               result = await axios.delete(`/api/bills/${data}`);
               this.bills.success = true;
               this.updateBills();
            } else if (type == "validate") {
               result = await axios.post(`/api/bills/${this.bill_tmp}/validate`, { form: data });
               this.bill_infos.validation_show = false;
               this.bills.success = true;
               this.updateBills();
            }
         } catch (error) {
            result = error.response;
            console.error(error);
            this.bills.error = true;
         } finally {
            this.bills.status = result.status;
            this.bills.loading = false;
            this.$emit("project:updated");
         }
      },
   },
};
</script>
<style lang="scss"></style>
