<template>
   <Dialog :open="isOpen" @close="setIsOpen" class="fixed inset-0 z-40 overflow-y-auto flex items-center">
      <DialogOverlay class="z-30 fixed inset-0 bg-black opacity-40" />

      <form class="input-form z-40 relative mx-auto rounded px-16 py-8 bg-mywhite w-500" @submit.prevent="$emit('validate', date)">
         <DialogTitle class="flex items-center gap-2"><IconComponent type="check"></IconComponent> Validation</DialogTitle>

         <section class="py-10 flex flex-col gap-4">
            <div class="">
               <label class="mylabel block" for="date_paiement">Date de paiement</label>
               <input required class="myinput" type="date" name="date" id="date_paiement" v-model="date" />
            </div>
         </section>

         <section class="flex justify-end">
            <button
               type="button"
               class="btn"
               @click="
                  setIsOpen(false);
                  $emit('close');
               "
            >
               <div class="flex items-center gap-2">
                  <IconComponent type="close" color="black" size="14"></IconComponent>
                  <span>Fermer</span>
               </div>
            </button>
            <button class="btn btn-primary"><IconComponent type="check" color="white" size="18"></IconComponent></button>
         </section>
      </form>
   </Dialog>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, DialogDescription } from "@headlessui/vue";
import IconComponent from "../../../layouts/IconComponent.vue";
import moment from "moment";
import "moment/locale/fr";
export default {
   props: {
      show: { default: false },
   },
   components: { Dialog, DialogOverlay, DialogTitle, DialogDescription, IconComponent },
   data() {
      return {
         isOpen: this.show,
         moment: moment.locale("fr"),
         date: null,
      };
   },
   watch: {
      show() {
         this.isOpen = this.show;
      },
   },
   methods: {
      setIsOpen(value) {
         this.isOpen = value;
      },
      formatedDate(value) {
         return moment(value).format("<b>DD/MM/YYYY</b> à <b>HH:mm</b>");
      },
   },
};
</script>
