<template>
   <tr class="rounded selected-row">
      <td class="py-3">
         <select required class="myinput" v-model="form.type" name="type" id="type">
            <option value="" disabled>Type d'encaissement</option>
            <option value="0">Paiement Client</option>
            <option value="1">Paiement OSF</option>
         </select>
      </td>
      <td class="py-3">
         <select required class="myinput" v-model="form.paiement_type" name="type" id="type">
            <option value="" disabled>Type de paiement</option>
            <option value="1">Chèque</option>
            <option value="2">Carte bleue</option>
            <option value="3">Virement</option>
         </select>
      </td>
      <td class="py-3"><input required v-model="form.date" type="date" class="myinput w-32" /></td>
      <td class="py-3 flex justify-center">
         <div class="flex rounded overflow-hidden mr-2">
            <span class="bg-myprimary px-1 py-1 text-mywhite w-10 flex justify-center items-center">€</span>
            <input required placeholder="0.00" v-model="form.amount_ttc" class="myinput text-center w-24" type="number" min="0" step="0.01" />
         </div>
      </td>
      <td class="py-3"></td>
      <td class="py-3 text-center">
         <button class="btn btn-primary !py-2 !px-2" @click="checkForm">
            <IconComponent type="plus" color="white" size="18"></IconComponent>
         </button>
      </td>
   </tr>
</template>

<script>
import IconComponent from "../../../layouts/IconComponent.vue";
export default {
   props: {
      project_amount_ttc: { required: true },
   },
   components: { IconComponent },
   data() {
      return {
         form: {
            date: "",
            amount_ttc: null,
            type: "",
            paiement_type: "",
         },
      };
   },
   methods: {
      checkForm() {
         if (this.form.date && this.form.amount_ttc && this.form.type) {
            this.$emit("create:bill", this.form);
         }
      },
   },
};
</script>

<style></style>
