<template>
   <tr class="hover:shadow-border rounded">
      <td class="py-3">
         <BadgeComponent
            :text="bill.type == 0 ? 'Paiement client' : 'Paiement OSF'"
            :color="bill.type == 0 ? 'mylightblue' : 'mylightgreen'"
            :text_color="bill.type == 0 ? 'myblue' : 'mygreen'"
         ></BadgeComponent>
      </td>
      <td class="py-3">{{ paiementType }}</td>
      <td class="py-3">{{ formatedDate(bill.billing_date) }}</td>
      <td class="py-3">€ {{ bill.billing_amount_ttc / 100 }}</td>
      <td class="py-3">
         <template v-if="bill.status == 0"
            ><span class="flex items-center"><IconComponent type="dot" :color="color_priority"></IconComponent>{{ daysUntilDeadline }}</span></template
         >
         <template v-else>
            <div class="mx-2">
               <IconComponent type="check" color="mygreen"></IconComponent>
               {{ formatedDate(bill.paiement_date) }}
            </div>
         </template>
      </td>
      <td class="py-3 flex justify-center">
         <!-- <button class="w-7 h-7 rounded-lg flex justify-center items-center border-2 hover:bg-mygrey2"><IconComponent type="action"></IconComponent></button> -->
         <slot name="dropdown"></slot>
      </td>
   </tr>
</template>

<script>
import moment from "moment";
import "moment/locale/fr";
import IconComponent from "../../../layouts/IconComponent.vue";
export default {
   props: {
      bill: { required: true },
   },
   components: { IconComponent },
   data() {
      return {
         moment: moment.locale("fr"),
         color_priority: "mygreen",
      };
   },
   computed: {
      daysUntilDeadline() {
         let diff = 0;
         let message = " jour(s) restant(s)";
         if (this.bill.type == 1) diff = moment().diff(moment(this.bill.billing_date).add(30, "day"), "days");
         if (diff >= -15) this.color_priority = "myorange";
         if (diff >= 0) {
            this.color_priority = "myred";
            message = " jour(s) de retard";
         }
         return Math.abs(diff) + message;
      },
      paiementType() {
         switch (this.bill.paiement_type) {
            case "1":
               return "Chèque";
            case "2":
               return "CB";
            case "3":
               return "Virement";
            default:
               return "Autre";
         }
      },
   },
   methods: {
      formatedDate(value) {
         return moment(value).format("ddd DD MMM");
      },
   },
};
</script>

<style></style>
